﻿<div class="item-ac">
    <button>@ViewBag.titulo</button>
    <div class="int-ac">
        <div class="w-instructivos">
            <div class="row">
                <div class="col-md-6">
                    <p>El conocimiento científico y la innovación son recursos fundamentales para el desarrollo de las organizaciones, las empresas y los países. La ACHS, a través de la Fundación Científica y Tecnológica (FUCYT) ha financiado proyectos de investigación e innovación que buscan generar conocimientos o desarrollar soluciones que contribuyan a la salud y seguridad en el trabajo.</p>
                    <p>Cada año, los Organismos Administradores de la Ley (OAL) constituyen un Fondo para el financiamiento de estos proyectos, el cual se asigna a través de un concurso abierto convocado y regulado por la Superintendencia de Seguridad Social (SUSESO).</p>
                </div>
                <div class="col-md-6">
                    <p>El conocimiento científico y la innovación son recursos fundamentales para el desarrollo de las organizaciones, las empresas y los países. La ACHS, a través de la Fundación Científica y Tecnológica (FUCYT) ha financiado proyectos de investigación e innovación que buscan generar conocimientos o desarrollar soluciones que contribuyan a la salud y seguridad en el trabajo.</p>
                    <p>Cada año, los Organismos Administradores de la Ley (OAL) constituyen un Fondo para el financiamiento de estos proyectos, el cual se asigna a través de un concurso abierto convocado y regulado por la Superintendencia de Seguridad Social (SUSESO).</p>
                </div>
            </div>
        </div>
    </div>
</div>





