﻿@{
    var lista = ViewBag.lista;
    var listaroles = ViewBag.listaroles;
    var listaPerfil = ViewBag.profiles;
    var json = ViewBag.json;
}
<div class="text-center">
    <input type="button" class="btn btn-perfil" id="btnPendientes" value="Pendientes" />
    <input type="button" class="btn btn-perfil" id="btnTodos" value="Todos" />

</div>

<div id="pendientes" style="background-color: #dfe0e0; margin: 30px; padding: 5px;">
    <table class="table table-striped table-bordered" id="tablausuarios">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Aprobado</th>
                <th scope="col">Correo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Rol</th>
                <th scope="col">Rol actual</th>
                <th scope="col"></th>
                <th scope="col">Desactivar</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in lista)
            {
                if (!@item.aprobado)
                {


                    <tr>

                        <td>@item.nombre</td>
                        <td>@item.aprobado</td>
                        <td>@item.correo</td>
                        <td>@item.fecha</td>
                        <td>
                            <select name="select" class="form-control col-md-10 rolselect">
                                <option value="">Seleccione un rol</option>
                                @foreach (var item2 in listaroles)
                                {

                                    <option value="@item2.Name">@item2.Name</option>

                                }
                            </select>
                        </td>
                        <td>
                            @foreach (var item4 in item.roles)
                            {

                                @item4.nombrerol
                                <br>
                            }
                        </td>
                        <td> <button type="button" id="@item.username" class="btn btn-perfil btnModificar">Modificar</button></td>
                        <td> <button type="button" id="@item.username" class="btn btn-danger btnDesactivar">Desactivar</button></td>
                    </tr>

                }
            }

        </tbody>
        <tfoot>
            <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Aprobado</th>
                <th scope="col">Correo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Rol</th>
                <th scope="col">Rol actual</th>
                <th scope="col"></th>
                <th scope="col">Desactivar</th>
            </tr>
        </tfoot>
    </table>
</div>

<div id="todos" class=" d-none" style="background-color: #dfe0e0;">
    <table class="table table-striped table-bordered" id="tablausuarios2">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Aprobado</th>
                <th scope="col">Correo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Rol</th>
                <th scope="col">Rol actual</th>
                <th scope="col"></th>
                <th scope="col">Desactivar</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in lista)
            {
                <tr>

                    <td>@item.nombre</td>
                    <td>@item.aprobado</td>
                    <td>@item.correo</td>
                    <td>@item.fecha</td>
                    <td>
                        <select name="select" class="form-control col-md-10 rolselect">
                            <option value="">Seleccione un rol</option>
                            @foreach (var item2 in listaroles)
                            {

                                <option value="@item2.Name">@item2.Name</option>

                            }
                        </select>
                    </td>
                    <td>
                        @foreach (var item4 in item.roles)
                        {

                            @item4.nombrerol
                            <br>
                        }
                    </td>
                    <td> <button type="button" id="@item.username" class="btn btn-perfil btnModificar">Modificar</button></td>
                    <td> <button type="button" id="@item.username" class="btn btn-danger btnDesactivar">Desactivar</button></td>
                </tr>

            }


        </tbody>
    </table>

</div>