﻿@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginStatus.LoginStatusViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Mvc.Proxy;

@Html.Script(ScriptRef.JQuery, "top", false)

@{
    var SignOutUrl = string.Concat(Url.Action("SignOut"), string.Format("?{0}={1}", MvcControllerProxy.ControllerKey, ViewData[MvcControllerProxy.ControllerKey]));
}

<div class="@Model.CssClass">
    <div class="media" data-sf-role="sf-logged-in-view" style="display: none">
        <div class="media-left pr-2">

        </div>
        <div class="media-body">
            
            <div class="box-profile">
                <button id="my_profile"  type="button" class="btn-perfil">
                    <i class="fas fa-user mr-3"></i>
                    Mi perfil
                </button>

                <div class="profile-btns d-none">
                    <a href="@(Model.ProfilePageUrl ?? "#")">
                        <button id="edit_profile" type="button" class="btn-perfil">
                            <i class="fas fa-user-edit mr-3"></i>
                            Editar Perfil
                        </button>
                    </a>

                    <a  href="@SignOutUrl">
                        <button id="close_profile" type="button" class="btn-perfil">
                            <i class="far fa-times-circle mr-3"></i>
                            Cerrar Sesión
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div data-sf-role="sf-logged-out-view" style="display: none">

        <button class="btn btn-perfil" data-sf-role="login-status-button">@Html.Resource("Login")</button>
        <a href="@(Model.RegistrationPageUrl ?? "#")">@Html.Resource("RegisterNow")</a>

    </div>
</div>

<input type="hidden" data-sf-role="sf-status-json-endpoint-url" value="@Model.StatusServiceUrl"/>
<input type="hidden" data-sf-role="sf-logout-redirect-url" value="@Model.LogoutPageUrl"/>
<input type="hidden" data-sf-role="sf-login-redirect-url" value="@Model.LoginPageUrl" />
<input type="hidden" data-sf-role="sf-is-design-mode-value" value="@ViewBag.IsDesignMode.ToString()" />
<input type="hidden" data-sf-role="sf-allow-windows-sts-login" value="@Model.AllowWindowsStsLogin.ToString()" />

@Html.Script(Url.WidgetContent("Mvc/Scripts/LoginStatus/login-status.js"), "bottom", false)