﻿<div class="interior_noticia int-form">
    <br>
    <br>

    <link href="/Content/dropzone.css" rel="stylesheet">

    <div class="row">
        <div class="form-group col-md-6">
            <label>Rut Empresa</label>
            <input type="text" class="form-control" id="rut_empresa" placeholder="11.111.111-2">
        </div>
        <div class="form-group col-md-6">
            <label>Razon Social</label>
            <input type="text" class="form-control" id="razon_social" placeholder="Razon Social">
        </div>


    </div>
    <div class="row row-small">

        <div class="form-group col-md-5">
            <label>Direccion Casa Matriz</label>
            <input type="text" class="form-control" id="direccion_casa" placeholder="Av. Ricado Lyon">
        </div>

        <div class="form-group col-md-1">
            <label>N°</label>
            <input type="text" class="form-control" id="num_casa" placeholder="2212" onkeypress="return soloNumeros(event)">
        </div>

        <div class="form-group col-md-3">
            <label>Region</label>
            <select class="form-control" id="region_casa"><option value="">Seleccione región</option><option value="1">TARAPACÁ</option><option value="2">ANTOFAGASTA</option><option value="3">ATACAMA</option><option value="4">COQUIMBO</option><option value="5">VALPARAÍSO</option><option value="6">LIBERTADOR GENERAL BERNARDO O'HIGGINS</option><option value="7">MAULE</option><option value="8">BIOBÍO</option><option value="9">LA ARAUCANÍA</option><option value="10">LOS LAGOS</option><option value="11">AYSÉN DEL GENERAL CARLOS IBÁÑEZ DEL CAMPO</option><option value="12">MAGALLANES Y DE LA ANTÁRTICA CHILENA</option><option value="13">METROPOLITANA DE SANTIAGO</option><option value="14">LOS RÍOS</option><option value="15">ARICA Y PARINACOTA</option><option value="16">ÑUBLE</option></select>
        </div>

        <div class="form-group col-md-3">
            <label>Comuna</label>
            <select class="form-control" id="comuna_casa"><option value="">Seleccione comuna</option></select>
        </div>

    </div>

    <div class="row row-small">

        <div class="form-group col-md-5">
            <label>Direccion Sucursal Infraccionada</label>
            <input type="text" class="form-control" id="direccion_suc" placeholder="Av. Ricado Lyon">
        </div>

        <div class="form-group col-md-1">
            <label>N°</label>
            <input type="text" class="form-control" id="num_suc" placeholder="2212" onkeypress="return soloNumeros(event)">
        </div>

        <div class="form-group col-md-3">
            <label>Region</label>
            <select class="form-control" id="region_suc"><option value="">Seleccione región</option><option value="1">TARAPACÁ</option><option value="2">ANTOFAGASTA</option><option value="3">ATACAMA</option><option value="4">COQUIMBO</option><option value="5">VALPARAÍSO</option><option value="6">LIBERTADOR GENERAL BERNARDO O'HIGGINS</option><option value="7">MAULE</option><option value="8">BIOBÍO</option><option value="9">LA ARAUCANÍA</option><option value="10">LOS LAGOS</option><option value="11">AYSÉN DEL GENERAL CARLOS IBÁÑEZ DEL CAMPO</option><option value="12">MAGALLANES Y DE LA ANTÁRTICA CHILENA</option><option value="13">METROPOLITANA DE SANTIAGO</option><option value="14">LOS RÍOS</option><option value="15">ARICA Y PARINACOTA</option><option value="16">ÑUBLE</option></select>
        </div>

        <div class="form-group col-md-3">
            <label>Comuna</label>
            <select class="form-control" id="comuna_suc"><option value="">Seleccione comuna</option></select>

        </div>

    </div>

    <div class="row">
        <div class="form-group col-md-8">
            <label>Fecha Recibo Autorizacion</label>
            <input name="TxtFecharecibo" type="date" id="TxtFecharecibo" class="form-control">
        </div>
        <ul>

            <li id="li_Fecha">
                <div class="form-group col-md-1">
                    <div class="row">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </div>
                </div>
            </li>
        </ul>


    </div>
    <div class="row">
        <div class="form-group col-md-8">
            <label>Número de Resolución</label>
            <input type="text" class="form-control" id="num_resolucion" placeholder="Número Resolución">

        </div>
        <ul>

            <li id="li_numero">
                <div class="form-group col-md-1">
                    <div class="row">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <hr>
            <h4>Datos de Representante Legal </h4>
        </div>
    </div>
    <div class="row">

        <div class="form-group col-md-6">
            <label>Rut </label>
            <input type="text" class="form-control" id="TxtRutRepresentante" placeholder="11.111.111-2">
        </div>
        <div class="form-group col-md-6">
            <label>Nombres y Apellidos</label>
            <input type="text" class="form-control" id="nombre_representante" placeholder="Juan Perez">
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <h4>Datos contacto empresa </h4>
        </div>
    </div>x
    <div class="row">
        <div class="form-group col-md-6">
            <label>Rut </label>
            <input type="text" class="form-control" id="TxtRut_Contacto" placeholder="11.111.111-2">
        </div>
        <div class="form-group col-md-6">
            <label>Teléfono</label>
            <input type="text" class="form-control" id="fono_contacto" placeholder="222233112">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Nombre</label>
            <input type="text" class="form-control" id="nombre_contacto" placeholder="Fernanda María">
        </div>
        <div class="form-group col-md-6">
            <label>Correo electrónico</label>
            <input type="text" class="form-control" id="correo_contacto" placeholder="mail@example.cl">
        </div>
    </div>
    <div class="row">

        <div class="form-group col-md-6">
            <label>Apellidos</label>
            <input type="text" class="form-control" id="apellido_contacto" placeholder="Paredes Perez">
        </div>
        <div class="form-group col-md-6">
            <label>Cargo</label>
            <input type="text" class="form-control" id="cargo_contacto" placeholder="Analista de Procesos">
        </div>

    </div>
    <div class="clear"></div>
    <div class="form-group carga-file">
        <div class="box">
            <!-- <input type="file" id="file1" class="input-file inputfile_1" /> -->
            <input type="file" name="file_1" id="file1" class="inputfile inputfile_1">
            <label for="file1"><span>Adjunta aquí la autorización entregada por la Dirección del Trabajo.</span></label>
        </div>
        <input type="hidden" id="nombrefile">
    </div>
    <div class="barra form-group" style="display: flex; flex-direction: row; background-color: #fbf6c5;padding: 5px; justify-content: space-between;">

        <div style="display: flex; align-items: center;">

            <div style="width: 40px; height: 40px; border-radius: 25px; display: flex;
            flex-direction: row; justify-content: center; margin-right: 20px; margin-left: 20px;">
                <img src="images/alert_exclamation-solid.png" alt="" style="width: 40px; height: 40px;">
            </div>

            <p style="margin-bottom: 0px;">
                Recuerda que tienes un plazo máximo de 60 días, desde la entrega de la autorización por parte de la autoridad sanitaria, para enviarnos este documento.
            </p>

        </div>

        <div id="cerrar_alerta" style="width: 40px; height: 40px; border-radius: 25px; display: flex;
            flex-direction: row; justify-content: center; margin-right: 20px; margin-left: 20px; cursor:pointer; align-items: center;">
            <img src="images/alert_times-solid.png" alt="" style="width: 25px; height: 25px;">
        </div>
        <style>
            #cerrar_alerta:hover {
                background-color: #ffeb3b45;
            }
        </style>



    </div>
    <div class="row">

        <div class="form-group form-check text-center">
            <input name="CheckLeido" type="checkbox" id="CheckLeido">
            <label class="form-check-label" for="CheckLeido"><span></span>He leído atentamente la <a href="#" class="ver-pop">Carta Compromiso ACHS</a></label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 text-center">
            <input type="button" id="btnEnviar" name="ctl13" value="Guardar" class="btn enviar">
        </div>
    </div>

    <div class="popup">
        <div class="w-modal">
            <div class="cerrar-modal">X</div>
            <h5>CARTA COMPROMISO</h5>
            <h3>Programa Asistencia al Cumplimiento</h3>

            <p>Con motivo de la incorporación a Programa de Asistencia al Cumplimiento (PAC) usted declara conocer las etapas para su implementación y se compromete a:</p>

            <ul>
                <li>Implementar las medidas prescritas para subsanar las infracciones que dieron origen a la multa</li>
                <li>Poner en marcha un sistema de gestión de seguridad y salud en el trabajo</li>
                <li>Ejecutar curso de sistema de Gestión ACHS para empresas de menos de 50 trabajadores</li>
                <li>Ejecutar curso de Orientación de Prevención de Riesgos</li>
            </ul>
        </div>
    </div>
</div>
