﻿        <div class="wrap-panel-doc panel-info s-tabs">
            <div class="item-info">
                <figure>
                    <img class="lazy" data-src="/ResourcePackages/AchsCorporativo/assets/dist/images/ic-doc.png" alt="Icono documento">
                </figure>
                <div class="texto">
                    <h4>@ViewBag.titulo</h4>                    
                    <a href="@ViewBag.document" target="_blank"><img class="lazy" data-src="/ResourcePackages/AchsCorporativo/assets/dist/images/ic-down.png" alt=""> Descargar</a>
                </div>
            </div>
        </div>





