﻿<div class="box-not">
    <figure>
        <img class="lazy" data-src="@ViewBag.imagen" alt="@ViewBag.titulo" title="@ViewBag.titulo">
    </figure>
    <div class="texto">
        <h4>@ViewBag.titulo</h4>
        <p>@ViewBag.texto</p>
        @if(!String.IsNullOrEmpty(ViewBag.link)) {
        <a href="@ViewBag.link">@ViewBag.texto_link</a>
        }
    </div>
</div>