@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.PagerViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<nav role="navigation" aria-label="@Html.Resource("Pagination")">
    <div class="paginador right">
        @if (Model.PreviousNode != null)
        {
            
                <a class="pag-nav pag-nav-left" href="@String.Format(Model.RedirectUrlTemplate, Model.PreviousNode.PageNumber)" aria-label="@Html.Resource("GoToPreviousPage")">
                   <i class="fas fa-chevron-left"></i>
                </a>
           
        }
        @foreach (var page in Model.PagerNodes.OrderBy(x => x.PageNumber))
        {
            if (Model.CurrentPage == page.PageNumber)
            {
                
                    <a class="current" aria-current="true" href="@String.Format(Model.RedirectUrlTemplate, page.PageNumber)" aria-label="@Html.Resource("Page") @page.PageNumber">@page.PageNumber</a>
                
            }
            else
            {
              
                    <a class="" href="@String.Format(Model.RedirectUrlTemplate, page.PageNumber)" aria-label="@Html.Resource("GoToPage") @page.PageNumber">@page.PageNumber</a>
              
            }
        }
        @if (Model.NextNode != null)
        {
       
                <a class="pag-nav pag-nav-right" href="@String.Format(Model.RedirectUrlTemplate, Model.NextNode.PageNumber)" aria-label="@Html.Resource("GoToNextPage")">
                    <i class="fas fa-chevron-right"></i>
                </a>
         
        }
</nav>