﻿ @if (String.IsNullOrEmpty(ViewBag.error.ToString()))
 {
    <section id="seccion-modalidad-cursos" class="seccion-modalidad-cursos">
        <div class="container">
            <div class="row">

                <div class="col-12">

                    <div class="modalidades">
                        <div>
                            <h1>Registro exitoso</h1>
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae maecenas facilisiorem
                                ipsum dolor
                            </h4>
                        </div>
                        <div class="ancla-volver-inicio">
                            <a href="/">
                                <img src="/ResourcePackages/Capacitaciones/assets/dist/images/img_volver_inicio.svg" alt="">
                                Volver a Inicio
                            </a>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>

 }
 else
 {
    
    <section id="seccion-modalidad-cursos" class="seccion-modalidad-cursos">
        <div class="container">
            <div class="row">

                <div class="col-12">

                    <div class="modalidades">
                        <div>
                            <h1>Registro fallido</h1>
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae maecenas facilisiorem
                                ipsum dolor
                            </h4>
                        </div>
                        <div class="ancla-volver-inicio">
                            <a href="/">
                                <img src="/ResourcePackages/Capacitaciones/assets/dist/images/img_volver_inicio.svg" alt="">
                                Volver a Inicio
                            </a>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>
    <p class="d-none">@ViewBag.error.ToString()</p>

 }