﻿<div class="jumbotron">
    <h2>Inscribe tu Comité Paritario</h2>
    <div class="row">
        <div class="col-md-6">
            Nombre completo de la empresa
            <input type="text" class="form-control" id="txtNombreEmpresa" maxlength="70" />
            <span style="color:red;" id="txtNombreEmpresaOk"></span>
        </div>
        <div class="col-md-6">
            Nombre del secretario del CPHS
            <input type="text" class="form-control" id="idNombreSecretarioCPHS" maxlength="70" onkeypress="return soloLetras(event);" />
            <span style="color:red;" id="idNombreSecretarioCPHSOk"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            RUT empresa
            <input type="text" class="form-control" id="txtRutEmpresa" maxlength="15" />
            <span style="color:red;" id="txtRutEmpresaOk"></span>
        </div>
        <div class="col-md-6">
            RUT secretario del CPHS
            <input type="text" class="form-control" id="txtRutSecretarioCPHS" maxlength="15" />
            <span style="color:red;" id="txtRutSecretarioCPHSOk"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            N° de trabajadores del Centro de Trabajo <b>(si no lo sabe consulte a su experto ACHS)</b>
            <input type="text" class="form-control" id="txtNumTrabajadores" onkeypress="return SoloNumeros(event);" maxlength="5" />
            <span style="color:red;" id="txtNumTrabajadoresOk"></span>
        </div>
        <br />
        <div class="col-md-6">
            Teléfono del Secretario del CPHS
            <input type="text" class="form-control" id="txtTelefonoSecretario" maxlength="9" placeholder="ej: 954312122" />
            <span style="color:red;" id="txtTelefonoSecretarioOk"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            Tipo de CHPS
            <select class="form-control" id="idTipoCHPS">
                <option value="CPHS Casa Matriz">CPHS Casa Matriz</option>
                <option value="CPHS Faena">CPHS Faena</option>
                <option value="CPHS Sede/Sucursal">CPHS Sede/Sucursal</option>
            </select>
            <span style="color:red;" id="idTipoCHPSOk"></span>
        </div>
        <div class="col-md-6">
            Nombre de los (3) Integrantes Titulares de la Empresa

            <input type="text" class="form-control" onkeypress="return soloLetras(event);" id="txtTitularEmpresa" />
            <span id="txtIntTitEmpresa1"></span>
            <span id="txtIntTitEmpresa2"></span>
            <span id="txtIntTitEmpresa3"></span>
            <input type="button" value="Agregar" id="btnAgregarIntegranteTitularEmpresa" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            Calle Casa Matriz
            <input type="text" class="form-control" id="txtCalleCasaMatriz" maxlength="70" />
            <span style="color:red;" id="txtCalleCasaMatrizOk"></span>
        </div>
        <div class="col-md-6">
            Nombre de los (3) Integrantes Suplentes de la Empresa

            <input type="text" class="form-control" onkeypress="return soloLetras(event);" id="txtSuplenteEmpresa" maxlength="70" />
            <span id="txtIntSupEmpresa1"></span>
            <span id="txtIntSupEmpresa2"></span>
            <span id="txtIntSupEmpresa3"></span>
            <input type="button" value="Agregar" id="btnAgregarIntegranteSuplenteEmpresa" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Número Casa Matriz
            <input type="text" class="form-control" id="txtNumCasaMatriz" maxlength="6" onkeypress="return SoloNumeros(event);" />
            <span style="color:red;" id="txtNumCasaMatrizOk"></span>
        </div>
        <div class="col-md-6">
            Nombre de los (3) Integrantes Titulares de los Trabajadores

            <input type="text" class="form-control" onkeypress="return soloLetras(event);" id="txtTiTrabajadores" maxlength="70" />
            <span id="txtIntTiTrabajadores1"></span>
            <span id="txtIntTiTrabajadores2"></span>
            <span id="txtIntTiTrabajadores3"></span>
            <input type="button" value="Agregar" id="btnAgregarIntegranteTitularesTrabajadores" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Comuna Casa Matriz
            <input type="text" class="form-control" id="txtComunaCasaMatriz" maxlength="30" />
            <span style="color:red;" id="txtComunaCasaMatrizOk"></span>
        </div>
        <div class="col-md-6">
            Nombre de los (3) Integrantes Suplentes de los Trabajadores

            <input type="text" class="form-control" onkeypress="return soloLetras(event);" id="txtSupTrabajadores" maxlength="70" />
            <span id="txtIntSupTrabajadores1"></span>
            <span id="txtIntSupTrabajadores2"></span>
            <span id="txtIntSupTrabajadores3"></span>
            <input type="button" value="Agregar" id="btnAgregarIntegranteSuplentesTrabajadores" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            Calle Sucursal / Faena donde ejerce el Comité Paritario
            <input type="text" class="form-control" id="txtCalleSucursal" maxlength="40" />
            <span style="color:red;" id="txtCalleSucursalOk"></span>
        </div>
        <div class="col-md-6">
            Nombre del Experto Asesor ACHS
            <input type="text" class="form-control" id="txtNombreExpertoACHS" onkeypress="return soloLetras(event);" maxlength="70" />
            <span id="txtNombreExpertoACHSOk" style="color:red;"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            Número Sucursal / Faena donde ejerce el Comité Paritario
            <input type="text" class="form-control" id="txtNumeroSucursal" onkeypress="return SoloNumeros(event);" />
            <span style="color:red;" id="txtNumeroSucursalOk"></span>
        </div>
        <div class="col-md-6">
            Comuna
            <select class="form-control" id="idComuna"></select>
            <span style="color:red;" id="idComunaOk"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Comuna Sucursal / Faena donde ejerce el Comité Paritario
            <input type="text" class="form-control" id="txtComunaSucursal" onkeypress="return soloLetras(event);" maxlength="30" />
            <span style="color:red;" id="txtComunaSucursalOk"></span>
        </div>
        <div class="col-md-6">
            Agencia
            <select class="form-control" id="idAgencia"></select>
            <span style="color:red;" id="idAgenciaOk"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            Sector
            <select class="form-control" id="idSector"></select>
            <span style="color:red;" id="idSectorOk"></span>
        </div>
        <div class="col-md-6">
            E-Mail Corporativo del Comité Paritario
            <input type="text" class="form-control" id="txtEmailCorporativo" maxlength="50" />
            <span style="color:red;" id="txtEmailCorporativoOk"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            Fecha de Constitución(De acuerdo a Acta de Constitución)
            <input type="date" class="form-control" id="txtFechaConstitucion" />
            <span style="color:red;" id="txtFechaConstitucionOk"></span>
        </div>
        <div class="col-md-6">
            <input type="button" value="Enviar" id="btnEnviar" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            Fecha de Última Renovación
            <input type="date" class="form-control" id="txtFechaUltimaRenovacion" />
            <span style="color:red;" id="txtFechaUltimaRenovacionOk"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            Nombre del Presidente del CPHS
            <input type="text" class="form-control" id="txtNombrePresidente" onkeypress="return soloLetras(event);" maxlength="60" />
            <span style="color:red;" id="txtNombrePresidenteOk"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            RUT del Presidente del CPHS
            <input type="text" class="form-control" id="txtRutPresidente" />
            <span style="color:red;" id="txtRutPresidenteOk"></span>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-6">
            Teléfono del Presidente del CPHS
            <input type="text" class="form-control" id="txtTelefonoPresidente" maxlength="9" onkeypress="return SoloNumeros(event);" />
            <span style="color:red;" id="txtTelefonoPresidenteOk"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Acta de Constitución
            <input type="file" id="file" />
            <span style="color:red;" id="fileActaOK"></span>
        </div>
    </div>


</div>