<section style='@ViewBag.style'>
    <div class="wrap-ht">
            <a href="@ViewBag.link "><img src="/images/librariesprovider4/default-album/banner-agendar.jpg?sfvrsn=9103d256_2" alt="Banner"></a>
    </div>
</section>