  <!-- INICIO Modal Comunícate con nosotros -->
            <div class="modal fade" id="ModalComunicateConNosotros" tabindex="-1" role="dialog"
                aria-labelledby="ModalComunicateConNosotrosLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        

                    <div class="modal-body">

                        <div class="row row-formulario">

                            <div class="formulario-requerimientos">

                                <div class="col-12 d-flex justify-content-end pb-5">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <img src="/ResourcePackages/Capacitaciones/assets/dist/img_cerrar_modal.svg" alt="">
                                    </button>
                                </div>

                                <div class="col-12">

                                    <div class="row mb-30">
                                        <div class="col-12">
                                            <h2>Comunícate con nosotros</h2>
                                        </div>
                                    </div>

                                    <div class="sf_colsIn row form-comunicate" data-sf-element="form1" data-placeholder-label="form1">

                                      

                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- FIN Modal Comunícate con nosotros -->