    <section id="seccion-modalidad-cursos" class="seccion-modalidad-cursos">
        <div class="container">
            <div class="row">

                <div class="col-12">

                    <div class="modalidades">
                        <div class="sf_colsIn" data-sf-element="titulo" data-placeholder-label="titulo">
                           
                        </div>
                        <div class="ancla-volver-inicio">
                            <a href="/">
                                <img src="/ResourcePackages/Capacitaciones/assets/dist/images/img_volver_inicio.svg" alt="">
                                Volver a inicio
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-12" >
                   <div class="row fichas-cursos">
                        <div class="col-lg-8 sf_colsIn" data-sf-element="modalidades1" data-placeholder-label="modalidades1">


                        	 </div>

                        	 <div class="sf_colsIn btn-ir-a-curso btn-rojo col-lg-4" data-sf-element="btn1" data-placeholder-label="btn1">
                            
                        </div>
           				 </div>


                            <div class="row fichas-cursos">
                          <div class="col-lg-8 sf_colsIn" data-sf-element="modalidades4" data-placeholder-label="modalidades4">
                        </div>
                        <div class="sf_colsIn btn-ir-a-curso btn-lila col-lg-4" data-sf-element="btn4" data-placeholder-label="btn4">
                            
                        </div>

                          <div class="col-lg-8 sf_colsIn" data-sf-element="modalidades3" data-placeholder-label="modalidades3">

                        </div>

                        <div class="sf_colsIn btn-ir-a-curso btn-lila col-lg-4" data-sf-element="btn3" data-placeholder-label="btn3">
                           
                        </div>

                    </div>
                          <div class="row fichas-cursos">
                        <div class="col-lg-8 sf_colsIn" data-sf-element="modalidades2" data-placeholder-label="modalidades2">


                             </div>

                             <div class="sf_colsIn btn-ir-a-curso btn-amarillo col-lg-4" data-sf-element="btn2" data-placeholder-label="btn2">
                            
                        </div>
                         </div>
                </div>
            </div>
        </div>
    </section>