﻿    <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
        <input type=hidden name="oid" value="00D6g000001XITR">
        <input type="hidden" name="retURL" value="https://wa-qa-formulario-achs-sf.azurewebsites.net/test.aspx">
        <!--Formulario Independiente 1 de 2-->
        <section id="formulario-independiente-uno" class="formulario-independiente">

            <div class="container">

                <div class="row row-movil">
                    <div class="col-lg-3 col-uno">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Únete a la ACHS</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><strong>Independiente</strong></li>
                            </ol>
                        </nav>
                    </div>

                    <div class="col-lg-6 padding-movil col-dos">
                        <h2>Únete y déjanos tus datos</h2>

                    </div>

                    <div class="col-lg-3 text-right text-center-movil col-tres">
                        <input id="btn-volver-independiente-uno" class="btn-volver" type="button" value="< Volver">
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <div class="formulario-requerimientos">

                            <div class="row mb-30">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <h3>Datos de Contacto</h3>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <h4>Paso 1 de 2</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 margin-item">
                                    <label>RUT</label>
                                    <input type="text" name="RUT_del_contacto__c" id="rut_contacto_afiliate" maxlength="15">
                                    <span id="rutConOKAfi"></span>
                                </div>

                                <div class="col-12 margin-item">
                                    <label>NOMBRE</label>
                                    <input type="text" name="first_name" id="fist_name" onkeypress="return soloLetras(event);" maxlength="25">
                                </div>

                                <div class="col-12 margin-item">
                                    <label>APELLIDO</label>
                                    <input type="text" name="last_name" id="last_name" onkeypress="return soloLetras(event);" maxlength="25">
                                </div>

                                <div class="col-12 margin-item">
                                    <label>TELÉFONO</label>
                                    <input type="text" name="phone" id="phone" autocomplete="off" maxlength="9" onkeypress="return SoloNumeros(event);">
                                </div>
                            </div>
                            <div class="form-group" style="display:none;">
                                <label><span></span>Segundo Nombre </label>
                                <input name="middle_name" id="middle_name" autocomplete="off" class="disablecopypaste" pattern=".{3,}" title="El campo de texto debe tener un mínimo de 3 caracteres." onkeypress="return soloLetras(event);" maxlength="25" type="text">

                            </div>
                            <div class="form-group" style="display:none;">
                                <label><span></span>Apellido Materno </label>
                                <input name="suffix" id="suffix" pattern=".{3,}" autocomplete="off" class="disablecopypaste" title="El campo de texto debe tener un mínimo de 3 caracteres." onkeypress="return soloLetras(event);" maxlength="25" type="text">

                            </div>
                            <div class="row justify-content-center">
                                <div class="col-6 text-center">
                                    <input id="btn-siguiente-independiente" class="btn-siguiente" type="button"
                                           value="Siguiente">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--Fin Formulario Independiente 1 de 2-->
        <!--Formulario Independiente 2 de 2-->
        <section id="formulario-independiente-dos" class="formulario-independiente d-none ">
            <div class="container">

                <div class="row row-movil">
                    <div class="col-lg-3 col-uno">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Únete a la ACHS</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><strong>Independiente</strong></li>
                            </ol>
                        </nav>
                    </div>

                    <div class="col-lg-6 padding-movil col-dos">
                        <h2>Únete y déjanos tus datos</h2>

                    </div>

                    <div class="col-lg-3 text-right text-center-movil col-tres">
                        <input id="btn-volver-independiente-dos" class="btn-volver" type="button" value="< Volver">
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <div class="formulario-requerimientos">

                            <div class="row mb-30">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <h3>Datos de Contacto</h3>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <h4 id="PasoMovil">Paso 2 de 2</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div id="divMovil" class="d-none">
                                    <div class="col-12 margin-item">
                                        <label>RUT</label>
                                        <input type="text" id="rut_contacto_afiliateMovil" maxlength="15">
                                        <span id="rutConOKAfiMovil"></span>
                                    </div>

                                    <div class="col-12 margin-item">
                                        <label>NOMBRE</label>
                                        <input type="text" id="fist_nameMovil" onkeypress="return soloLetras(event);" maxlength="25">
                                    </div>

                                    <div class="col-12 margin-item">
                                        <label>APELLIDO</label>
                                        <input type="text" id="last_nameMovil" onkeypress="return soloLetras(event);" maxlength="25">
                                    </div>

                                    <div class="col-12 margin-item">
                                        <label>TELÉFONO</label>
                                        <input type="text" id="phoneMovil" autocomplete="off" maxlength="9" onkeypress="return SoloNumeros(event);">
                                    </div>
                                </div>
                                <div class="col-12 margin-item">
                                    <label>Correo electrónico*</label>
                                    <input type="text" placeholder="ejemplo@email.com" name="email" id="txtemail">
                                    <span id="emailOK"></span>
                                </div>

                                <div class="col-12 margin-item">
                                    <label>Confirmación Correo*</label>
                                    <input type="text" name="00N6g00000T5dbN" id="txtConfirmarCorreo" placeholder="ejemplo@email.com">
                                </div>
                                <div class="form-group" style="display:none;">
                                    <label><span>*</span>Función Contacto</label>
                                    <%--00N2g000000oFy6 --%>
                                    <select name="00N6g00000T5dbT" class="form-control" id="cboxFuncion" title="Función contacto" required="required">
                                        <option value="">--Seleccione cargo del trabajador--</option>
                                        <option value="0001">Trabajador</option>



                                    </select>


                                </div>

                                <div class="form-group" style="display:none;">
                                    <label><span>*</span>Tipo de Entidad</label>


                                    <label><span></span>Trabajador Independiente</label>
                                    <div class="checkTrabajadorInd">
                                        <input name="00N2g000000oFyH" id="checkTrabajadorInd" value="1" type="checkbox" checked>
                                        <input name="Trabajador_independiente__c" id="Trabajador_independiente__c" value="1" type="checkbox" checked>
                                        <label for="checkTrabajadorInd"></label>
                                    </div>
                                </div>

                                <div class="form-group" style="display:none;">
                                    <label><span>*</span>Nombre de la Empresa</label>
                                    <input name="company" id="company" class="disablecopypaste" autocomplete="off" pattern=".{3,}" title="El campo de texto debe tener un mínimo de 3 caracteres." onkeypress="return soloLetras(event);" type="text">


                                </div>
                                <div class="dos-col" style="display:none;">
                                    <div class="form-group">
                                        <label><span>*</span>RUT Empresa <br></label>

                                        <input name="00N6g00000T5dbZ" id="rut_empresa2" type="text" maxlength="15" required="required">

                                    </div>
                                    <div class="form-group small" style="display:none;">
                                        <label>Re-Ingreso</label>
                                        <input type="text" id="Re_Ingreso" value="1" name="Re_Ingreso" required="required">
                                    </div>
                                </div>
                                <div class="row" style="margin-right: 0;margin-left: 0;">
                                    <div class="col-sm-6 col-md-6 col-lg-6 margin-item" style="display: flex;flex-direction: column;margin: 0px 0px 30px 0px;">
                                        <label>REGIÓN*</label>
                                        <select name="00N6g00000T5dbc" id="region">
                                            <option value="">--Seleccione Región--</option>
                                            <option value="01">I - Tarapacá</option>
                                            <option value="02">II - Antofagasta</option>
                                            <option value="03">III - Atacama</option>
                                            <option value="04">IV - Coquimbo</option>
                                            <option value="05">V - Valparaiso</option>
                                            <option value="06">VI - Libertador Bernardo O'higgins</option>
                                            <option value="07">VII - Maule</option>
                                            <option value="08">VIII - BioBío</option>
                                            <option value="09">IX - Araucanía</option>
                                            <option value="10">X - De los Lagos</option>
                                            <option value="11">XI -  Aysén del General Carlos Ibáñez del Campo</option>
                                            <option value="12">XII - Magallanes y de la Antártica</option>
                                            <option value="13">RM - Metropolitana</option>
                                            <option value="14">XIV - De los Ríos</option>
                                            <option value="15">XV - Arica y Parinacota</option>
                                            <option value="16">XVI - Ñuble</option>

                                        </select>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-6 margin-item" style="display: flex;flex-direction: column;margin: 0px 0px 30px 0px;">
                                        <label>COMUNA*</label>
                                        <select name="00N6g00000T5eVf" id="comuna">
                                            <option value="">--Seleccione Comuna--</option>
                                        </select>
                                    </div>


                                </div>
                                <div class="form-group" style="display:none;">
                                    <label><span>*</span>Número de Empleados</label>
                                    <input name="employees" class="disablecopypaste" autocomplete="off" type="text" id="employees" maxlength="5" value="1" onkeypress="return SoloNumeros(event);">
                                </div>
                                <div class="col-12 margin-item">
                                    <label>Mutualidad*</label>
                                    <select name="00N6g00000T5dbU" title="Mutualidad" id="organismo" required="required">
                                        <option value="">--Seleccione Mutualidad--</option>
                                        <option value="1">Nueva Empresa</option>
                                        <option value="2">ISL</option>
                                        <option value="3">Mutual de Seguridad (C.CH.C)</option>
                                        <option value="4">IST</option>
                                        <option value="5">Lo desconozco (Otra)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label hidden="hidden"><span>*</span>Origen del prospecto</label>
                                <select name="lead_source" hidden="hidden">
                                    <option value="Afiliate a la ACHS">Afiliate a la ACHS</option>
                                </select>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-6 text-center">

                                    <input id="btnEnviar" class="btn-siguiente" type="submit" value="Hablemos">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </section>
    </form>



    <!--Fin Formulario Independiente 2 de 2-->


</body>