﻿<form name="aspnetForm" method="post" action="/portal/Empresas/Paginas/tmert.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="aspnetForm">
    
    <div>




        <div id="interior">
            <div class="container">

                <div class="col-md-9">

                    <h2 class="tituloh2">PROTOCOLO TMERT</h2>
                    <p>
                        En esta sección podrás Descargar la herramienta "Planilla resumen
                        protocolo TMERT" que le ayudará a cumplir con lo indicado en el
                        punto 9 , articulos 110 a 110 a1 y 110 a2 del decreto supremo Nº 594
                        sobre factores de riesgo de lesiones musculoesqueléticas de
                        extremidades superiores.
                    </p>
                    <br>
                    <div class="contenedor">
                        <!--pestañas-->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#planilla" aria-controls="planilla" role="tab" data-toggle="tab" aria-expanded="true">
                                    Planilla
                                    resumen protocolo TMERT
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#form_tmert" aria-controls="form_tmert" role="tab" data-toggle="tab" aria-expanded="false">
                                    Ficha datos
                                    empresa TMERT
                                </a>
                            </li>
                        </ul>
                        <!--end pestañas-->
                        <!--contenidos de las pestañas-->
                        <div class="tab-content">
                            <!--tab-->
                            <div role="tabpanel" class="tab-pane active" id="planilla">
                                <div>
                                    <div class="row m-l-10">
                                        <div class="text-bold">
                                            <p>
                                                Para comenzar te recomendamos:
                                            </p>
                                        </div>
                                        <div class="puntox">
                                            <ul>
                                                <li>
                                                    <span class="number">1</span><div class="txt-li">
                                                        Leer el instructivo de uso <a href="~/Documents/Instructivo_tmert.pdf" target="_blank">
                                                            Ver PDF
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="number">2</span><div class="txt-li">
                                                        Descargar la lista de chequeo TMERT <a href="~/Documents/Lista_Chequeo_TMERT.pdf" target="_blank">
                                                            en este link
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="number">3</span><div class="txt-li">
                                                        Completar la planilla con los datos del centro
                                                        de trabajo evaluado. No olvides que debes
                                                        incluir todos aquellos puestos de trabajo y
                                                        tareas que tienen riesgo de TMERT de extremidad
                                                        superior.<a href="~/Documents/Herramienta unica TMERTV.xlsx">
                                                            Descargar planilla
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="number">4</span><div class="txt-li">
                                                        Una vez completada la planilla, completa la
                                                        "ficha datos empresa TMERT" y carga la planilla
                                                        resumen.
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="">
                                            Para continuar con los siguientes pasos del
                                            protocolo TMERT, te recordamos la importancia de
                                            enviar toda la información correcta.
                                        </div>
                                        <div class="">
                                            Cualquier duda contáctarnos a nuestro call center <a href="#">
                                                6006002247
                                            </a>
                                        </div>
                                        <div class="col-md-12 text-bold text-center">
                                            <button type="button" class="btn botones calipso" id="btncontuniar">
                                                Continuar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--endtab-->
                            <!--tab-->
                            <div role="tabpanel" class="tab-pane" id="form_tmert">
                                <div>
                                    <div class="row row m-l-10">
                                        <div class="col-md-12 col-sm-12 form-group text-right">
                                            <button id="copiexcelingresado" type="button" class="btn botones calipso" style="display: none;">
                                                Obtener un copia
                                            </button>

                                        </div>
                                        <div class="col-md-12 col-sm-12 form-group">
                                            <label class="espacios" for="rut-1">
                                                Rut de tu
                                                empresa
                                            </label>
                                            <input type="text" class="form-control" id="rut-1" placeholder="11.111.111-1">
                                            <span class="help-block hidden" id="mesajerutnovalido">
                                                Ingresa un rut válido
                                            </span>
                                        </div>
                                        <div class="col-md-12 col-sm-12 form-group">
                                            <button id="validarempresa" type="button" class="btn botones calipso">
                                                Validar
                                            </button>

                                        </div>

                                        <div id="formulariotmert" style="display:none" novalidate="novalidate" class="bv-form">
                                            <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                            <div class="titulos-form">
                                                Datos de la empresa
                                            </div>

                                            <div class="col-md-6 col-sm-12 form-group has-feedback">
                                                <label class="espacios" for="razon">Razón social</label>
                                                <input type="text" class="form-control" name="razon" id="razon" placeholder="Ingresa la razón social de la empresa" data-bv-field="razon"><i class="form-control-feedback" data-bv-icon-for="razon" style="display: none;"></i>
                                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="razon" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información</small>
                                            </div>
                                            <div class="col-md-6 col-sm-12 hidden form-group has-feedback">
                                                <label class="espacios" for="rubro">Rubro</label>
                                                <input type="text" class="form-control" name="rubro" id="rubro" placeholder="Ingresa el rubro de la empresa" data-bv-field="rubro"><i class="form-control-feedback" data-bv-icon-for="rubro" style="display: none;"></i>
                                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="rubro" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información de rubro</small>
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-group has-feedback">
                                                <label class="espacios" for="sucursal">
                                                    Indicar
                                                    nombre de la sucursal
                                                </label>
                                                <input type="text" class="form-control" name="sucursal" id="sucursal" placeholder="Ingresar sucursal" data-bv-field="sucursal"><i class="form-control-feedback" data-bv-icon-for="sucursal" style="display: none;"></i>
                                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="sucursal" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información de sucursal</small>
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-group has-feedback">
                                                <label class="espacios" for="direccion">
                                                    Dirección del centro de trabajo
                                                </label>
                                                <input type="text" class="form-control" name="direccion" id="direccion" data-bv-field="direccion"><i class="form-control-feedback" data-bv-icon-for="direccion" style="display: none;"></i>
                                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="direccion" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información de dirección</small>
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-group has-feedback">
                                                <label class="espacios" for="comuna">Comuna</label>
                                                <input type="text" class="form-control" name="comuna" id="comuna" placeholder="" data-bv-field="comuna"><i class="form-control-feedback" data-bv-icon-for="comuna" style="display: none;"></i>

                                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="comuna" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información de comuna</small>
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-group has-feedback">
                                                <label class="espacios" for="region">Región</label>
                                                <input type="text" class="form-control" name="region" id="region" placeholder="" data-bv-field="region"><i class="form-control-feedback" data-bv-icon-for="region" style="display: none;"></i>



                                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="region" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información de región</small>
                                            </div>
                                            <div class="col-md-12 titulos-form">
                                                Datos del responsable
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-group has-feedback">
                                                <label class="espacios" for="rutresponsable">Rut</label>
                                                <input type="text" class="form-control" name="rutresponsable" id="rutresponsable" placeholder="11111111-1">
                                                <i class="form-control-feedback glyphicon glyphicon-remove" id="rutresponsablei" style="display:none"></i>
                                                <small class="help-block" id="rutresponsablesmall" style="display:none">
                                                    RUN no tiene formato correcto
                                                </small>


                                            </div>
                                            <div class="col-md-6 col-sm-12 form-group has-feedback">
                                                <label class="espacios" for="nombre">
                                                    Nombre
                                                    Completo
                                                </label>
                                                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresa el nombre" data-bv-field="nombre"><i class="form-control-feedback" data-bv-icon-for="nombre" style="display: none;"></i>
                                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="nombre" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información de nombre responsable</small>
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-group has-feedback">
                                                <label class="espacios" for="cargo">
                                                    Cargo o
                                                    puesto de trabajo
                                                </label>
                                                <input type="text" class="form-control" name="cargo" id="cargo" placeholder="Ingresa el cargo del responsable" data-bv-field="cargo"><i class="form-control-feedback" data-bv-icon-for="cargo" style="display: none;"></i>
                                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="cargo" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información de cargo responsable</small>
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-group has-feedback">
                                                <label class="espacios" for="email">Email</label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Ingresar Email" data-bv-field="email"><i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i>
                                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">Correo electrónico no tiene formato correcto</small><small class="help-block" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">Correo electrónico no tiene formato correcto</small>
                                            </div>
                                            <div class="col-md-6 col-sm-12 form-group has-feedback">
                                                <label class="espacios" for="fono">Teléfono</label>
                                                <input type="text" class="form-control" name="fono" id="fono" placeholder="+56 9 1234567" data-bv-field="fono"><i class="form-control-feedback" data-bv-icon-for="fono" style="display: none;"></i>
                                                <small class="help-block" data-bv-validator="notEmpty" data-bv-for="fono" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información de telefono responsable</small>
                                            </div>
                                            <div class="col-md-12 titulos-form">
                                                Cargar Planilla Lista de Chequeos TMERT
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="frm_filename" id="frm_filename">
                                                    <label class="input-group-btn">
                                                        <span class="btn  btn-default calipso">
                                                            Subir plantilla… <input type="file" name="frm_file" id="frm_file" style="display: none;">
                                                        </span>
                                                    </label>
                                                </div><!-- /input-group -->

                                                <div class="progress" style="margin:10px 0">
                                                    <div class="progress-bar bar-tmert" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                                                    <div class="mensajevalidaciondatos" style="margin:10px 0"></div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-12 text-center">
                                            <button id="enviarexcel" type="button" class="btn botones pasivo" style="display: none;">
                                                Enviar
                                            </button>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-fondo" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body text-center">

                                                    </div>
                                                    <div class="modal-footer text-center">
                                                        <button type="button" id="cerrar" class="btn botones calipso">
                                                            No, gracias
                                                        </button>
                                                        <button type="button" id="cerrar2" class="btn botones calipso">
                                                            No, gracias
                                                        </button>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body text-center">

                                                    </div>
                                                    <div class="modal-footer text-center">
                                                        <button type="button" id="cerrar" class="btn botones calipso" data-toggle="modal" data-target="#myModal2">
                                                            Cerrar
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>





                                    </div>
                                </div>
                            </div>
                            <!--endtab-->
                        </div>
                        <!-- end contenidos de las pestañas-->
                    </div>
                </div>
                <div class="col-md-3 contenedor">
                    <div class="descargable">
                        <h3>Material Descargable</h3>
                        <div class="descargar">
                            <a href="~/Documents/Herramienta unica TMERTV.xlsx">
                                <span>Descargar Planilla</span>
                                <i class="material-icons">

                                </i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <!--fin footer-->

        <div style="display:none;">

            <input type="text" class="hidden" id="idEmp" />
            <input type="text" name="__spText1" title="text" class="hidden">
            <input type="text" name="__spText2" title="text" class="hidden">
        </div>
    </div>

    <input type="hidden" id="_wpcmWpid" name="_wpcmWpid" value=""><input type="hidden" id="wpcmVal" name="wpcmVal" value="">


</form>