﻿<div class="box-ventaja2">
    <figure>
        <img src="@ViewBag.imagen" alt="@ViewBag.titulo" title="@ViewBag.titulo">
    </figure>
    <h4>@ViewBag.titulo</h4>
    <a href="@ViewBag.link" class="btn btn-verde">Ver más</a>
</div>