@using SitefinityWebApp.Helper;
@using Telerik.Sitefinity.Services;

<!--DeferredScript -->
<script src="@ViewBag.js" defer></script>
<!--/DeferredScript -->

@if (SystemManager.IsDesignMode)
{
<pre>&lt;script type="text/javascript"  defer src="@ViewBag.js"&gt;&lt;/script&gt;
In footer </pre>
  

}

