﻿<div class="item-ac">
    <button>@ViewBag.titulo</button>
    <div class="int-ac">
        <a href="@ViewBag.document" class="item"><span>@ViewBag.texto</span></a>
        @if (!ViewBag.document2.ToString().Equals("#"))
        {
            <a href="@ViewBag.document2" class="item"><span>@ViewBag.texto2</span></a>
        }
        @if (!ViewBag.document3.ToString().Equals("#"))
        {
            <a href="@ViewBag.document3" class="item"><span>@ViewBag.texto3</span></a>
        }
        @if (!ViewBag.document4.ToString().Equals("#"))
        {
            <a href="@ViewBag.document4" class="item"><span>@ViewBag.texto4</span></a>
        }
        @if (!ViewBag.document5.ToString().Equals("#"))
        {
            <a href="@ViewBag.document5" class="item"><span>@ViewBag.texto5</span></a>
        }
    </div>
</div>      

