﻿<section class="calcula-tasa">
    <div class="wrap">
        <h4>@ViewBag.titulo</h4>
        <div class="texto">
            <p>@ViewBag.texto</p>
            @if(!String.IsNullOrEmpty(ViewBag.link)) {
            <a class="btn btn-borde-blanco" href="@ViewBag.link">@ViewBag.texto_link</a>
            }
        </div>
    </div>
</section>