﻿<link rel="stylesheet" type="text/css" href="/ResourcePackages/AchsMarketing/assets/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"
    async>
<link rel="stylesheet" type="text/css" href="/ResourcePackages/AchsMarketing/assets/dist/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/ResourcePackages/AchsMarketing/assets/dist/css/style.css">
   <link rel="stylesheet" href="/ResourcePackages/AchsMarketing/assets/dist/datatable/css/dataTables.bootstrap4.min.css">
   
