﻿<script src="/ResourcePackages/AchsCorporativo/assets/dist/js/tiny-slider.js" defer></script>
    <script src="/ResourcePackages/AchsCorporativo/assets/dist/js/accordion.js" defer></script>
    <script src="/ResourcePackages/AchsCorporativo/assets/dist/js/wow.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@13.0.1/dist/lazyload.min.js" defer></script>
    <script src="/ResourcePackages/AchsCorporativo/assets/dist/js/funciones.js" defer></script>
<script src="/ResourcePackages/AchsCorporativo/assets/dist/js/funciones-widget.js" defer></script>