﻿        <script type="text/javascript" src="/ResourcePackages/AchsMarketing/assets/dist/js/bootstrap.min.js" defer ></script>
                <script type="text/javascript" src="/ResourcePackages/AchsMarketing/assets/dist/js/jquery.validate.min.js" defer ></script>
               <script src="/ResourcePackages/AchsMarketing/assets/dist/datatable/js/jquery.dataTables.min.js" defer></script>
        <script src="/ResourcePackages/AchsMarketing/assets/dist/datatable/js/dataTables.bootstrap4.min.js" defer></script>

        