﻿<div class="jumbotron">
    <h3>Consulta el estado de tus pagos o acreencias</h3>
    <h5>Aquí podrás encontrar el estado de los pagos. Si tienes un vale vista sin cobrar, acércate al Banco Santander para obtener tu beneficio</h5>

    <div class="form-group">
        Ingresa tu Rut:
        <input type="text" class="form-control" id="txt_rut" placeholder="99999999-9" />
        <br />
        <div class="g-recaptcha" data-sitekey="6LfVvLUZAAAAAChaCr0HgA90jY8y0DhfCEvssQk7"></div>
        <br />
        <input type="button" class="btn btn-success" id="btnConsultar" value="Consultar" />

    </div>
    <div class="form-group hidden" id="divTabla">
        <table class="table table-striped table-bordered" id="tabla_resultado">
            <tr>
                <th>Monto</th>
                <th>Banco</th>
                <th>Medio</th>
            </tr>


        </table>
        <hr />
        *El contenido que se ofrece a través de este sistema de búsqueda es sólo informativo
    </div>

    <div class="alert alert-danger hidden" role="alert" id="divNoExiste">
        Usted no cuenta con prestaciones económicas en ASOCIACIÓN CHILENA DE SEGURIDAD
    </div>

    <div class="alert alert-danger hidden" role="alert" id="divRutNoExiste">
        favor completar todos los datos solicitados
    </div>


</div>