﻿<div class="item-ac">
    <button class="sf_colsIn" data-sf-element="titulo" data-placeholder-label="titulo" ></button>
    <div class="sf_colsIn int-ac" data-sf-element="texto" data-placeholder-label="texto">
    </div>
</div>      