﻿<div class="row">
    <div class="sf_colsIn col-md-6" data-sf-element="A" data-placeholder-label="A">

    </div>
    <div class="sf_colsIn col-md-6"  data-sf-element="B" data-placeholder-label="B">
        
    </div>
</div>