﻿<section class="capacitamos s-block">
    <div class="wrap">
        <div class="grid-capacitamos-2">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="box-conocenos box-capacitamos">
                        <figure>
                            <img class="lazy" data-src="images/ic-c1.png" alt="Icono">
                        </figure>
                        <div class="titulo">
                            <h4>Nuestros cursos</h4>
                            <h3>Online y presencial</h3>
                        </div>
                        <p>Para todos nuestros trabajadores afiliados disponemos de una gran variedad de cursos de diferentes rubros y modalidades</p>
                        <a href="#">Ver más</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box-conocenos box-capacitamos">
                        <figure>
                            <img class="lazy" data-src="images/ic-c2.png" alt="Icono">
                        </figure>
                        <div class="titulo">
                            <h4>Campus ACHS</h4>
                            <h3>La academia<br> de la prevención</h3>
                        </div>
                        <p>Esta plataforma permite proporcionar constantemente las mejores herramientas para capacitar en seguridad y salud</p>
                        <a href="#">Ver más</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box-conocenos box-capacitamos">
                        <figure>
                            <img class="lazy" data-src="images/ic-c3.png" alt="Icono">
                        </figure>
                        <div class="titulo">
                            <h4>Diplomas</h4>
                            <h3>Descarga aquí</h3>
                        </div>
                        <p>Obtén tu certificado digital, y juntos, cuidemos el medio ambiente</p>
                        <a href="#">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="capacitamos-mobile">
            <div class="carrusel verde">
                <div class="c-home">
                    <div class="item">
                        <div class="box-conocenos left">
                            <figure>
                                <img class="lazy" data-src="images/ic-c1.png" alt="Icono">
                            </figure>
                            <div class="titulo">
                                <h4>Nuestros cursos</h4>
                                <h3>online y presencial</h3>
                            </div>
                            <p>Para todos nuestros trabajadores afiliados disponemos de una gran variedad de cursos de diferentes rubros y modalidades</p>
                            <a href="#">ver</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-conocenos left">
                            <figure>
                                <img class="lazy" data-src="images/ic-c2.png" alt="Icono">
                            </figure>
                            <div class="titulo">
                                <h4>Campus ACHS</h4>
                                <h3>la academia de la prevención</h3>
                            </div>
                            <p>Esta plataforma permite proporcionar constantemente las mejores herramientas para capacitar en seguridad y salud</p>
                            <a href="#">ver</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-conocenos left">
                            <figure>
                                <img class="lazy" data-src="images/ic-c3.png" alt="Icono">
                            </figure>
                            <div class="titulo">
                                <h4>Diplomas</h4>
                                <h3>descarga aquí</h3>
                            </div>
                            <p>Obtén tu certificado digital, y juntos, cuidemos el medio ambiente</p>
                            <a href="#">ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="#" class="btn btn-verde">Ir a capacitaciones</a>
        </div>
    </div>
</section>
