﻿<section class="c-interior mb-small">
    <div class="wrap full-width">
        <div class="noticia-detalle">
            <div class="sf_colsIn fecha" data-sf-element="fecha" data-placeholder-label="fecha"></div>
            <div class="detalle">

            	  <div class="sf_colsIn imagen-noticia-detalle" data-sf-element="imagen" data-placeholder-label="imagen">
          
        		</div>
            <div class="sf_colsIn texto" data-sf-element="contenido" data-placeholder-label="contenido">
            </div>
            </div>
        </div>
    </div>
</section>