<section class="c-interior">
    <div class="wrap">
        <article class="central">
            <div class="sf_colsIn contenido" data-sf-element="contenido" data-placeholder-label="contenido">
              
            </div>
        </article>
        <aside class="sf_colsIn sidebar" data-sf-element="aside" data-placeholder-label="aside">
        
        </aside>
    </div>
</section>
