﻿<section class="proy-2019">
    <div class="wrap">
        <div class="tit sf_colsIn" data-sf-element="titulo" data-placeholder-label="titulo">
         
        </div>
        <div class="row">
            <div class="sf_colsIn col-md-4" data-sf-element="grafico1" data-placeholder-label="grafico1">
            
            </div>
            <div class="sf_colsIn col-md-4" data-sf-element="grafico2" data-placeholder-label="grafico2">
            </div>
            <div class="sf_colsIn col-md-4" data-sf-element="grafico3" data-placeholder-label="grafico3">
            </div>
        </div>
    </div>
</section>
