<section class="s-tabs">
    <div class="wrap-panel panel-info">
        <div class="sf_colsIn panel-item visible" data-sf-element="documento" data-placeholder-label="documento">

        </div>
    </div>
</section>