﻿<section class="c-interior">
    <div class="wrap">
        <div class="metas2b">
            <h2 class="sf_colsIn" data-sf-element="titulo" data-placeholder-label="titulo"></h2>
            <section class="metas2">
                <figure class="sf_colsIn figure-metas" data-sf-element="fondo" data-placeholder-label="fondo">
                  
                </figure>
                <div class="sf_colsIn w-metas"  data-sf-element="metas" data-placeholder-label="metas">
                    
                </div>
            </section>
        </div>
    </div>
    </section>