<div class="libro">
    <h3 class="sf_colsIn" data-sf-element="texto" data-placeholder-label="texto"></h3>
    <div class="sf_colsIn w-libro" data-sf-element="archivo" data-placeholder-label="archivo">
    </div>
</div>