<section class="c-interior sm-interior">
    <div class="wrap">
        <article class="central">
            <div class="sf_colsIn" data-sf-element="contenido" data-placeholder-label="contenido">
              
            </div>
              <div class="sf_colsIn s-tabs wrap-panel" data-sf-element="contenido borde" data-placeholder-label="borde">
              
            </div>
        </article>
        <aside class="sf_colsIn sidebar" data-sf-element="aside" data-placeholder-label="aside">
        
        </aside>
    </div>
</section>
