﻿<div class="ejes-est">
    <h2 class="sf_colsIn t-2 center"  data-sf-element="titulo" data-placeholder-label="titulo"></h2>

    <div class="row"  >
        <div class="col-md-4">
            <div class="sf_colsIn b-eje" data-sf-element="eje1" data-placeholder-label="eje1">
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="sf_colsIn b-eje" data-sf-element="eje2" data-placeholder-label="eje2">
              
            </div>
        </div>
        <div class="col-md-4">
            <div class="sf_colsIn b-eje" data-sf-element="eje3" data-placeholder-label="eje3">
               
            </div>
        </div>
    </div>
</div>


