﻿   <div class="panel-item visible">
   	<div class="row">
                <div class="sf_colsIn col-md-5" data-sf-element="imagen" data-placeholder-label="imagen" >
                 
                </div>
                <div class="sf_colsIn col-md-7"  data-sf-element="contenido" data-placeholder-label="contenido">
                 
                </div>
            </div>
                </div>