<section class="subhome-nosotros">
    <div class="wrap">
        <div class="sf_colsIn" data-sf-element="titulo" data-placeholder-label="titulo" ></div>
        <div class="row banner-nosotros">
            <div class="sf_colsIn col-lg-8" data-sf-element="banner" data-placeholder-label="banner">
                
            </div>
            <div class="sf_colsIn col-lg-4"  data-sf-element="menu lateral" data-placeholder-label="menu lateral">
                
            </div>
        </div>

    </div>
</section>