﻿<div class="row texto-auditoria">
    <div class="sf_colsIn col-md-7" data-sf-element="texto" data-placeholder-label="texto">
     
       
    </div>
    <div class="sf_colsIn col-md-5" data-sf-element="imagen" data-placeholder-label="imagen">
      
    </div>
</div>