﻿@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using SitefinityWebApp.Helper;

<!-- HTML -->
<!DOCTYPE html>
<html @Html.RenderLangAttribute()>

<head>
    <title>ACHS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://coronavirus.achs.cl/ResourcePackages/Coronavirus/assets/dist/images/favicon.ico" /> 
    <link rel="shortcut icon" type="image/x-icon" href="https://coronavirus.achs.cl/ResourcePackages/Coronavirus/assets/dist/images/favicon.ico" />

    @Html.Section("head")


</head>

<body data-spy="scroll" data-target="#list-example" data-offset="300" class="scrollspy-example">

    
    @Html.Section("top")

    @if (SystemManager.IsDesignMode)
    {
        @ASP.PartialExtensions.Partial(Html, "_StyleDesignMode")
    }
    
    <!-- header -->
   

       <header>

        <!--Menú achs.cl-->
        <div id="top_barra" class="d-none d-lg-block">
            <div class="container">
                <div class="top_contacto">
                    <ul class="redes col-md-6">
                        <li><a href="https://www.facebook.com/PrevencionACHS" target="_blank"><img
                                    src="/ResourcePackages/Capacitaciones/assets/dist/images/ico_fb.svg" alt=""></a></li>
                        <li><a href="https://www.linkedin.com/company/achs/" target="_blank"><img
                                    src="/ResourcePackages/Capacitaciones/assets/dist/images/ico_lk.svg" alt=""></a></li>
                        <li><a href="https://twitter.com/PrevencionACHS" target="_blank"><img
                                    src="/ResourcePackages/Capacitaciones/assets/dist/images/ico_tw.svg" alt=""></a>
                        </li>
                        <li><a href="https://www.youtube.com/prevencionACHS" target="_blank"><img
                                    src="/ResourcePackages/Capacitaciones/assets/dist/images/ico_yt.svg" alt=""></a></li>
                    </ul>
                    <ul class="contacto col-md-6">
                        <li><a href="tel:6006002247" class="cont1">call center <strong>600 600 22 47</strong></a>
                        </li>
                        <li><a href="tel:1404" class="cont2">rescate <strong>1404</strong></a></li>
                        <li><a href="https://www.achs.cl/portal/Paginas/nuevohorariosedes.aspx" class="cont3"><strong>sedes</strong></a></li>
                    </ul>

                </div>
            </div>
        </div>

        <nav id="menu-achs" class="navbar navbar-expand-lg navbar-light bg-celeste">

            <div class="container">

                <div class="div-menu-achs">
                    <a class="navbar-brand" href="https://www.achs.cl/portal/Paginas/Home.aspx">
                        <img src="/ResourcePackages/Capacitaciones/assets/dist/images/logo.svg" width="83" height="83"
                            class="d-inline-block align-top" alt="">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="nosotros-n" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                NOSOTROS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="nosotros-n">
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/Marco-regulatorio-ley-16744.aspx">¿Qué
                                    es la
                                    ACHS?</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/trabajadores/Paginas/Conoce-sobre-la-ley.aspx">Todo
                                    sobre la ley</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/ACHS_TRANSPARENTE.aspx">Transparencia</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/Aspiraci%C3%B3n-y-Valores.aspx">Nuestro
                                    desafio</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="trabajadores-n" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                TRABAJADORES
                            </a>
                            <div class="dropdown-menu" aria-labelledby="trabajadores-n">
                                <a class="dropdown-item" href="https://prestacioneseconomicas.achs.cl/">Prestaciones
                                    económicas</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/Empresas/productos-y-servicios/Paginas/Repositorio-de-campanhas-ACHS.aspx">Aprende
                                    a prevenir</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/Capacitacion/Paginas/Inicio.aspx">Capacitación</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/trabajadores/Paginas/En-caso-de-accidente.aspx">En
                                    caso de
                                    accidentes</a>
                                <a class="dropdown-item" href="https://www.mundoachs.cl/mundo/Paginas/Inicio.aspx">Club
                                    de
                                    beneficios</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/vigilanciadelasalud-sel/Paginas/Inicio.aspx">Vigilancia
                                    de la salud
                                    -SEL</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="empresas-n" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                EMPRESAS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="empresas-n">
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/Comites-Paritarios/Paginas/inicio.aspx">Comités
                                    Paritarios</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/achsgestion/Paginas/Inicio.aspx">ACHS
                                    Gestión</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/Empresas/Paginas/Consultoria-Seguridad-Estrategica.aspx">
                                    Consultoría en Seguridad Estratégica</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/Empresas/Paginas/Por-qu%C3%A9-elegirnos.aspx">Por
                                    qué elegirnos</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/Capacitacion/Paginas/Inicio.aspx">Capacita a
                                    tus
                                    Trabajadores</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/Empresas/fichas/Paginas/fichas.aspx">Fichas</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/Empresas/Paginas/Minsal.aspx">Protocolos
                                    MINSAL-ACHS</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/Empresas/productos-y-servicios/Paginas/repositorio-de-campanhas-ACHS.aspx">Campañas
                                    Preventivas</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/Empresas/canales-digitales/Paginas/canales-digitales.aspx">Canales
                                    Digitales</a>
                                <a class="dropdown-item" href="https://www.achs.cl/portal/Paginas/lgf.aspx">Estrategia
                                    LGF</a>
                                <a class="dropdown-item"
                                    href="https://www.achs.cl/portal/Empresas/Paginas/Condonacion-intereses-reajustes-multas.aspx">
                                    Condonación de intereses, reajustes y multas</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="https://serviciosenlinea.achs.cl/">SERVICIOS EN LÍNEA</a>
                        </li>

                        <li class="nav-item dropdown ingresar-li">
                            <a class="nav-link dropdown-toggle"
                                href="https://www.achs.cl/portal/Comites-Paritarios/Paginas/inicio.aspx" id="ingresar-n"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                INGRESA
                            </a>
                            <div class="dropdown-menu ingresar-div" aria-labelledby="ingresar-n">
                                <div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#popUpAchs">
                                        <span class="trabajador-ico"><img
                                                src="/ResourcePackages/Capacitaciones/assets/dist/images/img_ico_achs_virtual.svg"
                                                alt=""></span>
                                        ACHS Virtual</a>
                                </div>
                                <div>
                                    <a class="dropdown-item"
                                        href="https://www.achs.cl/portal/Paginas/proyecto_soporte/index.aspx">
                                        <span class="empresa-ico"><img
                                                src="/ResourcePackages/Capacitaciones/assets/dist/images/img_ico_achs_gestion.svg"
                                                alt=""></span>
                                        ACHS Gestión</a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>

        </nav>
        <!--FIN Menú achs.cl-->

    </header>

    <section class="seccion-pop-up-achs-virtual">
        <div class="container">
            <div class="modal fade" id="popUpAchs" tabindex="-1" role="dialog" aria-labelledby="popUpAchs"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">

                        <div class="modal-body">

                            <div class="row">

                                <div>
                                    <button type="button" id="btn-close-pop-up-achs-virtual" class="close"
                                        data-dismiss="modal">
                                        <img src="/ResourcePackages/Capacitaciones/assets/dist/images/img_cerrar.svg"
                                            alt="" />
                                    </button>
                                </div>

                                <div class="col-lg-4 img-achs-empresa">
                                    <img src="/ResourcePackages/Capacitaciones/assets/dist/images/img_achs_virtual.png"
                                        alt="" />
                                </div>

                                <div class="col-lg-8 text-left">

                                    <div class="ficha-pop-up">

                                        <div class="texto-pop-up">
                                            <div>
                                                <h2>
                                                    Ahora puedes hacer todo lo que necesitas a través de
                                                    <strong>ACHS Virtual</strong>
                                                </h2>
                                            </div>

                                            <div class="row">

                                                <div class="col-lg-6">
                                                    <div class="trabajador-empresa">
                                                        <img src="/ResourcePackages/Capacitaciones/assets/dist/images/img_trabajador_dos.svg"
                                                            alt="" />
                                                        <h3>Funcionalidades Trabajador</h3>
                                                    </div>
                                                    <div>
                                                        <p>
                                                            Siniestros, controles, documentos de atención, liquidación
                                                            de pagos de subsidios y capacitaciones
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="trabajador-empresa">
                                                        <img src="/ResourcePackages/Capacitaciones/assets/dist/images/img_empresa.png"
                                                            alt="" />
                                                        <h3>Funcionalidades Empresa</h3>
                                                    </div>
                                                    <div>
                                                        <p>
                                                            COVID-19, siniestros, denuncia, prestaciones económicas,
                                                            certificados, estadísticas, entre otras.
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="anclas">
                                                <a class="btn-achs-virtual" href="https://achsvirtual.achs.cl/">
                                                    Ir a ACHS Virtual
                                                </a>
                                                <p>Si quieres acceder al Sitio Web Empresa haz clic
                                                    <a
                                                        href="https://externo.achs.cl/irj/portal/2016?opcion=1"><u>aquí</u></a>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="disclaimer-pop-up">
                                            <p>
                                                Para mayor información contáctanos a nuestro Call Center al <strong>600
                                                    600 27 47</strong> o escríbenos al <strong><a
                                                        href="mailto:ejecutivoachs@achs.cl">ejecutivoachs@achs.cl</a></strong>
                                            </p>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- /header -->
    
    <!--MAIN CONTENT-->
    @Html.SfPlaceHolder("ContentplaceholderMain")
    <!-- /MAIN CONTENT-->
    <!-- footer -->

    <footer>
        <section class="seccion-tres">
            <div class="container">
                <div class="row row-inf">

                    <div class="col-lg-3">
                        <p><b class="b-barlow">Información Corporativo</b></p>
                        <ul>
                            <li>
                                <a
                                    href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/Marco-regulatorio-Ley-16744.aspx">
                                    ¿Qué es la ACHS?
                                </a>
                            </li>
                            <li>
                                <a href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/Estados-financieros.aspx">
                                    Información financiera
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/Directorio-y-Administracion.aspx">
                                    Gobierno corporativo
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/politica-de-equidad-inclusion-y-diversidad.aspx">
                                    Política de Equidad Inclusió y Diversidad
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3">
                        <p><b class="b-barlow">Actualidad</b></p>
                        <ul>
                            <li>
                                <a href="https://www.achs.cl/portal/centro-de-noticias/Paginas/Centro-de-noticias.aspx">
                                    Noticias
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://www.achs.cl/portal/ACHS-Corporativo/achs-en-la-prensa/Paginas/Default.aspx">
                                    ACHS en la prensa
                                </a>
                            </li>
                            <li>
                                <a href="https://www.achs.cl/portal/ACHS-Corporativo/MediosACHS/Paginas/default.aspx">
                                    Medios ACHS
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://www.achs.cl/portal/Empresas/canales-digitales/Paginas/canales-digitales.aspx">
                                    Canales digitales
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3">
                        <p><b class="b-barlow">Links de interés</b></p>
                        <ul>
                            <li>
                                <a href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/Proveedores.aspx">
                                    Proveedores
                                </a>
                            </li>
                            <li>
                                <a href="https://www.achs.cl/portal/Paginas/canal-de-denuncia-achs.aspx">
                                    Canal de Denuncias
                                </a>
                            </li>
                            <li>
                                <a href="https://www.achs.cl/portal/Paginas/nuevohorariosedes.aspx">
                                    Sedes
                                </a>
                            </li>
                            <li>
                                <a href="https://www.achs.cl/portal/trabajaconnosotros/Paginas/Inicio.aspx">
                                    Trabaja con Nosotros
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3">
                        <p><b class="b-barlow">Nuestros Sitios</b></p>
                        <ul>
                            <li>
                                <a href="https://www.Capacitaciones.cl/ht/Paginas/nuestroscursos.aspx">
                                    Hospital del trabajador
                                </a>
                            </li>
                            <li>
                                <a href="http://www.esachs.cl/">
                                    ESACHS
                                </a>
                            </li>
                            <li>
                                <a href="https://www.mundoachs.cl/mundo/Paginas/Inicio.aspx">
                                    Mundo ACHS
                                </a>
                            </li>
                            <li>
                                <a href="https://www.achs.cl/portal/fucyt/Paginas/que-es-fucyt.aspx">
                                    Proyectos de investigación e innovación
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 text-center pt-3">
                        <p class="disclaimer-mutualidad">
                            Las Mutualidades de Empleadores son fiscalizadas por la Superintendencia de Seguridad Social
                            <a href="https://www.suseso.cl/601/w3-channel.html" target="_blank">(www.suseso.cl)</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="">
            <div class="container">
                <div class="row row-r-sociales">

                    <div class="col-lg-6">
                        <div class="div-r-sociales derecha">
                            <p>Nuestras redes sociales</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="div-r-sociales izquierda">
                            <a href="https://www.facebook.com/PrevencionACHS">
                                <img src="/ResourcePackages/Capacitaciones/assets/dist/images/facebook.svg" alt="">
                            </a>
                            <a href="https://www.linkedin.com/company/achs/">
                                <img style="margin-left: 15px;" src="/ResourcePackages/Capacitaciones/assets/dist/images/linkedin.svg" alt="">
                            </a>
                            <a href="https://twitter.com/PrevencionACHS">
                                <img style="margin-left: 15px;" src="/ResourcePackages/Capacitaciones/assets/dist/images/twitter.svg" alt="">
                            </a>
                            <a href="https://www.youtube.com/user/prevencionACHS">
                                <img style="margin-left: 15px;" src="/ResourcePackages/Capacitaciones/assets/dist/images/youtube.svg" alt="">
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row row-final">
                    <div class="col-lg-4">
                        <div class="f-1">
                            <p style="margin-bottom: 0px;">Asociación Chilena de Seguridad</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="f-1">
                            <img style="margin-right: 5px;" src="/ResourcePackages/Capacitaciones/assets/dist/images/globo.svg" alt="">
                            <p style="margin-bottom: 0px;"><b>Casa Central</b>: Ramón Carnicer 163, Providencia,
                                Santiago.</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="f-1">
                            <img style="margin-right: 5px;" src="/ResourcePackages/Capacitaciones/assets/dist/images/telf.svg" alt="">
                            <p style="margin-bottom: 0px;">
                                Call Center <b>600 600 22 47</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>


    <!-- footer -->

    @if (!SystemManager.IsDesignMode)
    {

        @ASP.PartialExtensions.Partial(Html, "_JQueryFront")
    }

    <!-- JS -->


    @Html.SfPlaceHolder("ContentplaceholderJsFooter")

    @Html.Section("js")

    <!-- /JS -->

    @Html.Section("bottom")
    @if (SystemManager.IsDesignMode)
    {
        Html.Script(ScriptRef.JQuery, "head");
        Html.Script(ScriptRef.JQueryUI, "head");
    }


    
</body>

</html>
