﻿<div class="col-md-4">
    <a href="@ViewBag.link" class="box-programa">
        <!-- imagen de fondo -->
        <img src="@ViewBag.fondo" class="bg-prog" alt="@ViewBag.texto" />

        <div class="texto">
            <!-- imagen logo de programa -->
            <img src="@ViewBag.logo" alt="@ViewBag.texto" />

            <p>@ViewBag.texto</p>
        </div>
    </a>
</div>