﻿<section class="sin-eventos">
    <div class="wrap-ma">
        <div class="w-sin-eventos">
            <figure><img src="/images/librariesprovider5/default-album/personaje.png?sfvrsn=3760754a_2" alt="personaje" /></figure>
            <div class="texto">
                @if (String.IsNullOrEmpty(ViewBag.error.ToString()) && String.IsNullOrEmpty(ViewBag.salida1.ToString()))
                {
                <h3>&iexcl;Exito!</h3>
                <p>Exito.<br />Exito </p>
                } else {
                <h3>&iexcl;Error!</h3>
                <p>Error.<br />Error </p>
                
                }
            </div>
        </div>
    </div>
    <div class="d-none">
        @ViewBag.error
        @ViewBag.id
        @ViewBag.salida1
    </div>
</section>


