﻿@if (!String.IsNullOrEmpty(ViewBag.link) && String.IsNullOrEmpty(ViewBag.document))
{
<a href="@ViewBag.link" target="_blank" class="item"> <span>@ViewBag.titulo</span></a>
}

else if (String.IsNullOrEmpty(ViewBag.link) && !String.IsNullOrEmpty(ViewBag.document))
{
<a href="@ViewBag.document" target="_blank" class="item"> <span>@ViewBag.titulo</span></a>
}
else
{
    <a href="#" target="_blank" class="item"> <span>ACHS</span></a>
}



  