﻿  <!--Restablecer Clave-->
<div class="" id="restablecerform">
    <div class="ia-head-form">
        <h1>Recuperar Clave</h1>
        <h7>
            Ingrese su RUN y le enviamos su contraseña al
            correo y/o celular registrado
        </h7>
    </div>
    <div class="container">

        <hr width="1000px">


    </div>
    <div class="ia-">
        <div class="form-group ia-form-group">
            <span class="help-block text-danger d-none" id="mensajerutnoencontradvalido">
                Ingresa un Rut válido
            </span><br>

            <label for="rut">Rut</label>
            <input type="text" class="form-control" id="runrestablece">

        </div>
        <button class="btn ia-btn-primary volverlogin" type="button">
            Volver
        </button>

        <button class="btn ia-btn-secondary" type="button" id="restablecerpasswordHT">
            Enviar
        </button>


    </div>
    <br><br>
</div>
<!--end validación clave-->
<!--caida formulario-->
<div class="ia-box-login text-center" style="display:none" id="displayfelicitacion">
    <div class="ia-caida-form">

        <svg width="67px" height="53px" viewBox="0 0 67 53" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <desc></desc>
            <defs>
                <path d="M2.72562 0C1.2204 0 0 1.2382 0 2.76411L0 40.393C0 41.92 1.2204 43.1571 2.72562 43.1571L63.4343 43.1571C64.9395 43.1571 66.1599 41.92 66.1599 40.393L66.1599 2.76411C66.1599 1.2382 64.9395 0 63.4343 0L2.72562 0ZM2.16915 2.59046C2.24415 2.34179 2.47019 2.17224 2.72562 2.17122L63.4343 2.17122C63.6908 2.17224 63.9158 2.34179 63.9918 2.59046L33.0795 22.1725L2.16915 2.59046ZM24.3755 19.1474L2.14076 5.06583L2.14076 37.035L24.3755 19.1474ZM41.7287 19.2049L64.0192 5.19633L64.0192 37.035L41.7287 19.2049ZM39.8585 20.4349L33.6511 24.3715C33.4768 24.4835 33.2791 24.54 33.0795 24.54C32.8818 24.54 32.6842 24.4835 32.5098 24.3715L26.3024 20.4349L2.14076 39.8001L2.14076 40.3786C2.14076 40.7054 2.40228 40.9715 2.72562 40.9715L63.4343 40.9715C63.7587 40.9715 64.0192 40.7064 64.0192 40.3786L64.0192 39.8001L39.8585 20.4349Z" id="path_1"></path>
                <path d="M0 12.1143C0 18.8044 5.3437 24.2286 11.9368 24.2286L11.9368 24.2286C18.5289 24.2286 23.8736 18.8044 23.8736 12.1143L23.8736 12.1143C23.8736 5.42417 18.5289 0 11.9368 0L11.9368 0C5.3437 0 0 5.42417 0 12.1143L0 12.1143Z" id="path_2"></path>
                <path d="M10.9777 0.443961L5.482 8.745L1.60449 5.39774C1.1862 5.03534 0.567606 5.10039 0.22296 5.54022L0.22296 5.54022C-0.121686 5.98212 -0.0598261 6.63257 0.360426 6.9929L0.360426 6.9929L5.0588 11.0505C5.23554 11.2012 5.45549 11.2838 5.6823 11.2838L5.6823 11.2838C5.72649 11.2838 5.77166 11.2818 5.81682 11.2756L5.81682 11.2756C6.08685 11.2353 6.33036 11.0784 6.48844 10.843L6.48844 10.843L12.589 1.62304C12.8992 1.1543 12.7893 0.511071 12.3435 0.185844L12.3435 0.185844C12.1717 0.0598831 11.9763 0 11.7828 0L11.7828 0C11.4725 0 11.1672 0.15487 10.9777 0.443961L10.9777 0.443961Z" id="path_3"></path>
                <clipPath id="mask_1">
                    <use xlink:href="#path_1"></use>
                </clipPath>
                <clipPath id="mask_2">
                    <use xlink:href="#path_2"></use>
                </clipPath>
                <clipPath id="mask_3">
                    <use xlink:href="#path_3"></use>
                </clipPath>
            </defs>
            <g id="Group-19">
                <g id="Group-10">
                    <g id="Group-3">
                        <path d="M2.72562 0C1.2204 0 0 1.2382 0 2.76411L0 40.393C0 41.92 1.2204 43.1571 2.72562 43.1571L63.4343 43.1571C64.9395 43.1571 66.1599 41.92 66.1599 40.393L66.1599 2.76411C66.1599 1.2382 64.9395 0 63.4343 0L2.72562 0ZM2.16915 2.59046C2.24415 2.34179 2.47019 2.17224 2.72562 2.17122L63.4343 2.17122C63.6908 2.17224 63.9158 2.34179 63.9918 2.59046L33.0795 22.1725L2.16915 2.59046ZM24.3755 19.1474L2.14076 5.06583L2.14076 37.035L24.3755 19.1474ZM41.7287 19.2049L64.0192 5.19633L64.0192 37.035L41.7287 19.2049ZM39.8585 20.4349L33.6511 24.3715C33.4768 24.4835 33.2791 24.54 33.0795 24.54C32.8818 24.54 32.6842 24.4835 32.5098 24.3715L26.3024 20.4349L2.14076 39.8001L2.14076 40.3786C2.14076 40.7054 2.40228 40.9715 2.72562 40.9715L63.4343 40.9715C63.7587 40.9715 64.0192 40.7064 64.0192 40.3786L64.0192 39.8001L39.8585 20.4349Z" id="Clip-2" fill="none" fill-rule="evenodd" stroke="none"></path>
                        <g clip-path="url(#mask_1)">
                            <path d="M0 53.4327L76.2961 53.4327L76.2961 0L0 0L0 53.4327Z" transform="translate(-5.066406 -5.137695)" id="Fill-1" fill="#888B8D" stroke="none"></path>
                        </g>
                    </g>
                    <g id="Group-6" transform="translate(21.5625 28.77148)">
                        <path d="M0 12.1143C0 18.8044 5.3437 24.2286 11.9368 24.2286L11.9368 24.2286C18.5289 24.2286 23.8736 18.8044 23.8736 12.1143L23.8736 12.1143C23.8736 5.42417 18.5289 0 11.9368 0L11.9368 0C5.3437 0 0 5.42417 0 12.1143L0 12.1143Z" id="Clip-5" fill="none" stroke="none"></path>
                        <g clip-path="url(#mask_2)">
                            <path d="M0 34.3238L33.8209 34.3238L33.8209 0L0 0L0 34.3238Z" transform="translate(-4.973659 -5.047619)" id="Fill-4" fill="#00ABAA" stroke="none"></path>
                        </g>
                    </g>
                    <g id="Group-9" transform="translate(26.95313 34.07129)">
                        <path d="M10.9777 0.443961L5.482 8.745L1.60449 5.39774C1.1862 5.03534 0.567606 5.10039 0.22296 5.54022L0.22296 5.54022C-0.121686 5.98212 -0.0598261 6.63257 0.360426 6.9929L0.360426 6.9929L5.0588 11.0505C5.23554 11.2012 5.45549 11.2838 5.6823 11.2838L5.6823 11.2838C5.72649 11.2838 5.77166 11.2818 5.81682 11.2756L5.81682 11.2756C6.08685 11.2353 6.33036 11.0784 6.48844 10.843L6.48844 10.843L12.589 1.62304C12.8992 1.1543 12.7893 0.511071 12.3435 0.185844L12.3435 0.185844C12.1717 0.0598831 11.9763 0 11.7828 0L11.7828 0C11.4725 0 11.1672 0.15487 10.9777 0.443961L10.9777 0.443961Z" id="Clip-8" fill="none" stroke="none"></path>
                        <g clip-path="url(#mask_3)">
                            <path d="M0 21.6095L22.5836 21.6095L22.5836 0L0 0L0 21.6095Z" transform="translate(-4.910156 -5.162109)" id="Fill-7" fill="#FFFFFF" stroke="none"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <h1>¡Listo!</h1>
        <p>
            Clave de acceso enviada a su correo electrónico
            y/o celular registrados
        </p>
        <button class="btn ia-btn-primary volverlogin" type="button">
            Volver
        </button>
    </div>
</div>
<!--end caida formulario-->