﻿<div class="box-denuncia">
    <figure class="ic-denuncia1">
        <img class="lazy" data-src="@ViewBag.imagen" alt="Icono">
    </figure>
    <h4>@ViewBag.titulo</h4>
    <p>@ViewBag.contenido</p>
    @if(!String.IsNullOrEmpty(ViewBag.link)) {
    <a href="@ViewBag.link">@ViewBag.texto_link</a>
    }
</div>