﻿

<div id="main-imagenologia">
    <div class="container">
        <div class="row">
            <div class=""></div>
            <div class="col-12">
                <!--login step 1-->

                <div class="box-spinner" style="display:none;">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <br>
                <br>
                <div class="" id="loginimagen">


                    <div class="ia-head-form">
                        <h1>Consulta de Imagenología</h1>
                        <h7>
                            Ingresa tus datos personales para acceder a
                            tus imágenes
                        </h7>

                        <span class="help-block text-danger  d-none" id="mensajeerrorlogin"></span>

                    </div>
                    <div id="main-imagenologia">



                        <hr>



                    </div>


                    <div class="form-group ia-form-group">
                        <label for="RUNLOGIN">Rut</label><br>
                        <span class="help-block text-danger  d-none" id="mesajerutnovalidopasouno">
                            Ingresa un RUN válido
                        </span>
                        <input type="text" class="form-control" id="RUNLOGIN" style="width:270px !important">

                    </div>
                    <div class="form-group ia-form-group" style="width:50% !important">
                        <span class="style2">
                            <label for="pass">Clave</label>
                        </span>

                        <div style="position: relative; display: flex;flex-direction: row;width: 270px;">
                            <input type="password" style="width:270px !important" class="form-control" id="pass" placeholder="Ingresa tu clave">
                            <svg toggle="#password-field" class="svg-inline--fa fa-eye fa-w-18 fa-fw field_icon toggle-password" style="position: absolute; top: 11px; right: 14px;" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path></svg><!-- <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password" style="position: absolute; top: 11px; right: 14px;"></span> -->
                        </div>
                    </div>
                    <div class="form-group ia-form-group">

                        <a href="https://hospitaldeltrabajador.lfi.cl/servicios-en-linea/resultados-imagenologia/obtener-clave" target="_self" class="ia-link">
                            Obtener clave
                        </a>
                        <a href="https://hospitaldeltrabajador.lfi.cl/servicios-en-linea/resultados-imagenologia/recuperar-clave" target="_self" class="ia-link">
                            Recuperar clave
                        </a>


                    </div>
                    <!--<div class="form-group form-check text-center">
                    <input name="ctl00$PlaceHolderMain$CheckLeido" type="checkbox" id="ctl00_PlaceHolderMain_CheckLeido" class="form-check-input" />
                    <label class="form-check-label" for="CheckLeido"><span></span>He leído atentamente la <a href="#" class="ver-pop">Carta Compromiso ACHS</a></label>
                    </div>-->
                    <div class="ia-checkbox">



                        <input type="checkbox" id="aceptoterminos" style="width: 15px;height: 15px; margin:0px 0 !important ">
                        <label for="aceptoterminos"></label> He leído y
                        acepto los <a href="#" class="ia-link" data-toggle="modal" data-target="#exampleModalLong">
                            términos y condiciones
                        </a>
                        <br>
                        <span class="help-block text-danger  d-none" id="mesajeraceptar">
                            Debe aceptar los términos y condiciones para
                            continuar
                        </span>

                    </div>

                    <button class="btn ia-btn-default" id="cd-tour-trigger" type="button" style="width: 110px;color: darkgray;">
                        Tour Guiado
                    </button>
                    <button type="submit" class="btn ia-btn-secondary" id="validacionusuario" style="width: 110px;">
                        Ingresar
                    </button>

                </div>

                <!--end box login-->



            </div>
            <div class="col-lg-3 col-md-3 col-xs-12"></div>
        </div>




    </div>
    <!--end container-->

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Términos
                    y condiciones del acceso web a servicio de imagenología ACHS
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body ia-head-form" style="margin-right:40px; margin-left:40px;">
                <h3>Generalidades</h3>
                <p>
                    El presente documento, regula los términos y condiciones
                    generales aplicables al acceso y uso que el usuario
                    realizará del sitio web, así como cualquier tipo de
                    información, contenido, imagen u otro material comunicado
                    presente en el sitio web.<br>
                    Este sitio web y sus contenidos están destinados
                    únicamente a personas chilenas o extranjeras con Rol Único
                    Nacional (RUN) de Chile.
                </p>
                <h3>Información del sitio Web</h3>
                <p>
                    Mediante el acceso al sitio web podrá visualizar,
                    compartir y descargar las imágenes de sus exámenes de
                    imagenología <u>
                        realizados exclusivamente en las
                        dependencias de ACHS
                    </u>.
                </p>
                <h3>Utilización del servicio</h3>
                <p>
                    La utilización de nuestro servicio es gratuito para los
                    usuarios y el acceso al contenido requiere credenciales
                    de ingreso, un usuario y contraseña ACHS. <br>
                    Su credencial de ingreso es valiosa y usted es
                    responsable de mantener su confidencialidad y seguridad.
                    ACHS no se responsabiliza de la pérdida, mal uso o uso
                    no autorizado de su contraseña o códigos de validación.
                </p>
                <h3>Reglas de uso de servicio y contenido</h3>
                <ul>
                    <li>Podrá visualizar imágenes a contar del año 2009.</li>
                    <li>
                        Podrá visualizar, compartir y descargar las imágenes
                        en cualquier dispositivo con acceso a internet a través
                        del navegador. En caso de descarga del archivo, es
                        necesario para su correcta visualización contar con un
                        lector PDF para abrir el archivo.
                    </li>
                    <li>No podrá modificar el contenido.</li>
                    <li>
                        Podrá volver a descargar el contenido adquirido
                        previamente cuantas veces lo estime necesario.
                    </li>
                </ul>
            </div>
            <!--  <div class="modal-footer">
                  <button type="button" class="btn ia-btn-secondary" data-dismiss="modal">
                  Cerrar</button>

              </div> -->
        </div>
    </div>
</div>

<ul class="cd-tour-wrapper">
    <li class="cd-single-step" id="paso-1">
        <span>Paso 1</span>

        <div class="cd-more-info top center">
            <h2>¡Bienvenido!</h2>
            <h2>Revisa tus exámenes en línea.</h2>
            <p>
                Al ingresar al portal se desplegará tu último examen e
                informe realizado. Si no ves tu informe es porque aún no está
                disponible.
            </p>

            <div class="cd-nav"><span><b class="cd-actual-step">1</b> de 4</span><ul class="cd-tour-nav"><li><a href="#0" class="cd-prev d-none inactive">« Previous</a></li><li><a href="#0" class="cd-next">Siguiente</a></li></ul></div><a href="#0" class="cd-close">Cerrar</a>
        </div>
    </li> <!-- .cd-single-step -->

    <li class="cd-single-step" id="paso-2">
        <span>Paso 2</span>

        <div class="cd-more-info rigth">
            <h2>Ver tus exámenes</h2>
            <p>
                Presionando el ícono en la esquina superior izquierda podrás
                ver la lista completa de todos tus exámenes disponibles. Así
                podrás revisar el detalle del que elijas.
            </p>

            <div class="cd-nav"><span><b class="cd-actual-step">2</b> de 4</span><ul class="cd-tour-nav"><li><a href="#0" class="cd-prev d-none">« Previous</a></li><li><a href="#0" class="cd-next">Siguiente</a></li></ul></div><a href="#0" class="cd-close">Cerrar</a>
        </div>
    </li> <!-- .cd-single-step -->

    <li class="cd-single-step" id="paso-3">
        <span>Paso 3</span>

        <div class="cd-more-info top">
            <h2>Imprime tus exámenes</h2>
            <p>
                Puedes imprimir o guardar como PDF tus exámenes desde esta
                sección. Para desplegar este menú debes presionar el icono con
                tres puntos consecutivos
            </p>

            <div class="cd-nav"><span><b class="cd-actual-step">3</b> de 4</span><ul class="cd-tour-nav"><li><a href="#0" class="cd-prev d-none">« Previous</a></li><li><a href="#0" class="cd-next">Siguiente</a></li></ul></div><a href="#0" class="cd-close">Cerrar</a>
        </div>
    </li> <!-- .cd-single-step -->
    <li class="cd-single-step" id="paso-4">
        <span>Paso 4</span>
        <div class="cd-more-info bottom">
            <h2>Comparte tus exámenes</h2>
            <p>
                Puedes compartir este examen y su informe a quien lo desees
                enviando el Link que verás desde esta sección. Es importante que
                entiendas que dicha acción es bajo tu responsabilidad
            </p>

            <div class="cd-nav"><span><b class="cd-actual-step">4</b> de 4</span><ul class="cd-tour-nav"><li><a href="#0" class="cd-prev d-none">« Previous</a></li><li><a href="#0" class="cd-next inactive">Siguiente</a></li></ul></div><a href="#0" class="cd-close">Cerrar</a>
        </div>
    </li> <!-- .cd-single-step -->

</ul> <!-- .cd-tour-wrapper -->

<div class="cd-app-screen d-none">
    <div id="paso1">
        <img src="https://hospitaldeltrabajador.lfi.cl/ResourcePackages/HospitalDelTrabajador/assets/dist/imagenes_aplicatico/1.png">
    </div>
    <div id="paso2" class="d-none">
        <img src="https://hospitaldeltrabajador.lfi.cl/ResourcePackages/HospitalDelTrabajador/assets/dist/imagenes_aplicatico/2.png">
    </div>
    <div id="paso3" class="d-none">
        <img src="https://hospitaldeltrabajador.lfi.cl/ResourcePackages/HospitalDelTrabajador/assets/dist/imagenes_aplicatico/3.png">
    </div>
    <div id="paso4" class="d-none">
        <img src="https://hospitaldeltrabajador.lfi.cl/ResourcePackages/HospitalDelTrabajador/assets/dist/imagenes_aplicatico/4.png">
    </div>


</div>
<!-- The Modal -->
<div class="modal fade" id="myModalMensaje">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn ia-btn-secondary allogin" data-dismiss="modal">
                    Aceptar
                </button>
            </div>

        </div>
    </div>
</div>