﻿<section class="obten-descuento" style="position: relative;">
    <div class="wrap-ma">
        <div class="w-obten-descuento">

            <div class="exito">
                <img src="/ResourcePackages/MundoAchs/assets/dist/images/ic-descuento2.svg" alt="descuento">
                @if (String.IsNullOrEmpty(ViewBag.error.ToString()) && String.IsNullOrEmpty(ViewBag.salida1.ToString()))
                {
                    <h3>Tu descuento se ha enviado con éxito</h3>

                }
                else
                {
                    <h3>A ocurrido un error en el envio de tu cupón. Intentalo nuevamente</h3>
                }
                <a href="/descuento">Ir a descuentos <img src="/ResourcePackages/MundoAchs/assets/dist/images/flecha-der.svg" alt="Ir a descuentos"></a>
            </div>
        </div>
    </div>
    <div class="d-none">
        @ViewBag.error
        @ViewBag.id
        @ViewBag.salida1
    </div>
</section>
