﻿<html>
    <head>
        <meta charset="utf-8" />
        <title>Documento sin t&iacute;tulo</title>
    </head>
    <body>
        <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="width: 600px;">
                    <img alt="" src="https://coronavirus.achs.cl/images/default-source/mailings/eventos/barra_header_eventos.jpg"/>
                    </td>
                </tr>
                <tr>
                    <td style="width: 600px;">
                    <img alt="" src="https://coronavirus.achs.cl/images/default-source/mailings/eventos/encabezado_eventos.jpg"/>
                    </td>
                </tr>
                <tr>
                    <td style="width: 600px;">
                    <img alt="" src="https://coronavirus.achs.cl/images/default-source/mailings/eventos/banner_eventos.jpg"/>
                    </td>
                </tr>
                <tr>
                    <td>
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #fff; text-align: middle;">
                        <tbody>
                            <tr>
                                <td>
                                <h2 style="text-align: center; font-weight: bold; font-family: 'Catamaran'; font-size: 30px; margin-bottom: 0px; margin-top: .5rem;">{{nombre_evento}}</h2>
                                <p style="text-align: center; font-weight: bold; font-family: 'Catamaran'; font-size: 22px; margin-bottom: 20px;">Tu inscripci&oacute;n al evento se ha <br />
                                creado exitosamente</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td>
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #1b753b;">
                        <tbody>
                            <tr>
                                <td style="width: 300px;">
                                <p style="text-align: center;margin: 15px 20px;"><img alt="" src="https://coronavirus.achs.cl/images/default-source/mailings/eventos/calendario_eventos.jpg" /></p>
                                <p style="font-family: 'Catamaran'; color: #fff; font-weight: bold; text-align: center; font-size: 20px;margin: 15px 20px;">{{fecha_evento}}</p>
                                </td>
                                <td style="width: 300px;">
                                <p style="text-align: center;margin: 15px 20px;"><img alt="" src="https://coronavirus.achs.cl/images/default-source/mailings/eventos/ubicacion_eventos.jpg" /></p>
                                <h3 style="color: #fff; font-weight: bold; text-align: center; font-size: 22px; margin: 15px 20px;">{{ubicacion_evento}}</h3>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td>
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #1b753b; text-align: middle;">
                        <tbody>
                            <tr>
                                <td>
                                <p style="text-align: center; font-family: 'Catamaran'; font-size: 22px;margin: 15px 20px; color: #FFF;">Recuerda que días previos al evento recibirás un link para acceder a este.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td style="height: 20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #1B753B;">
                        <tbody>
                            <tr style="margin: 0px;">
                                <td style="margin: 0px;">
                                <img alt="" style="margin:0px;" src="https://coronavirus.achs.cl/images/default-source/mailings/eventos/barra_footer_eventos.jpg" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <p style="font-family: 'Catamaran'; color: #fff; text-align: left; margin: 0px; font-size: 5px;margin-top: -5px;">&nbsp;</p>
                                <p style="font-family: 'Catamaran'; color: #fff; text-align: left; margin: 15px 20px; font-size: 15px;">
                                    Para más información de este y otros beneficios ingresa a <a target="_blank" style="color:#fff;" href="https://www.mundoachs.cl/"><strong>www.mundoachs.cl</strong></a>
                                </p>
                                <p style="font-family: 'Catamaran'; color: #fff; text-align: left; margin: 15px 20px; font-size: 15px;">
                                    Si tienes consultas, solicitudes o reclamos escríbenos a <a style="color:#fff;" href="mailto:mundoachs@celmedia.cl"><strong> mundoachs@celmedia.cl</strong></a> o ll&aacute;manos al <a style="color:#fff;" href="tel:225858777"><strong> 2 2585 8777</strong></a>
                                </p>
                                <p style="font-family: 'Catamaran'; color: #fff; text-align: left; margin: 15px 20px; font-size: 15px;">
                                Las Mutualidades de Empleadores son fiscalizadas por la Superintendencia de Seguridad Social <a target="_blank" style="color:#fff;" href="https://www.suseso.cl/601/w3-channel.html"><strong>(www.suseso.cl)</strong></a>
                                </p>
                                <p style="font-family: 'Catamaran'; color: #fff; text-align: left; margin: 0px; font-size: 15px;">&nbsp;</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td style="height: 20px;">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>