﻿<div class="item-mas-info">
    <h4>@ViewBag.titulo</h4>
    <p>@Html.Raw(ViewBag.texto)</p>
    @if (!String.IsNullOrEmpty(ViewBag.link))
    {
        <a href="@ViewBag.link">@ViewBag.texto_link</a>
    }
</div>