<div class="col-lg-3 col-md-6">
    <div class="box-valor">
        <figure>
            <img class="lazy" data-src="@ViewBag.imagen" alt="@ViewBag.titulo" title="@ViewBag.titulo ">
        </figure>
        <h4>@ViewBag.titulo </h4>
        <div class="valor-hover">
            <h4>@ViewBag.titulo </h4>
            <p>@ViewBag.texto</p>
        </div>
    </div>
</div>