﻿<div class="item-paso">
    <div class="num-paso">@ViewBag.titulo</div>
    <img src="@ViewBag.imagen" alt="@ViewBag.titulo" />
    <!-- acá va el texto enriquecido -->
     @Html.Raw(ViewBag.texto)
    <!-- fin acá va el texto enriquecido -->
</div>

