﻿
    <form name="aspnetForm" method="post" action="/Home/Index" onsubmit="javascript:return">


    <div id="requerimiento">


        <!-- comienza la primara parte -->
        <div class="container">
            <div class="contenido">
                <h2 class="visible-lg visible-md">¿Necesitas ayuda?</h2>
                <p class="visible-lg visible-md">
                    Estamos a disposición de tus
                    inquietudes, solicitudes y comentarios.
                </p>
                <h3 class="visible-lg visible-md">
                    <span class="paso">1</span>Selecciona
                    la opción que deseas gestionar
                </h3>
                <div class="efecto">
                    <div class="ms-splitbutton">
                        <div class="mod_1 visible-lg visible-md">
                            <div class="col-md-6 modulo" id="tiporequerimiento">
                                <label class="container2">
                                    <input name="requerimiento" class="opcion" type="radio" value="01">
                                    <span class="checkmark c5"></span>Requerimiento
                                </label>
                            </div>

                            <div class="col-md-6 modulo " id="tiporequerimiento">
                                <label class="container2">
                                    <input name="requerimiento" class="opcion" type="radio" value="02">
                                    <span class="checkmark c6"></span>Reclamo
                                </label>
                            </div>
                            <div class="clearfix"></div>


                        </div>
                    </div>
                </div>
                <h3 class="visible-lg visible-md">
                    <span class="paso">2</span>Elige el
                    tipo de requerimiento o reclamo, y luego selecciona un item del listado
                </h3>
                <div class="efecto">
                    <div class="ms-wpselectlink">
                        <div class="mod_1 visible-lg visible-md">
                            <div id="select">
                                <div class="col-md-3 modulo" id="prevencion">
                                    <label class="container">
                                        Servicios <span class="tipo">
                                            Preventivos
                                        </span>
                                        <input name="ambitoRadio" class="opcion" type="radio" value="01">
                                        <span class="checkmark c1"></span>
                                    </label>
                                </div>
                                <div class="col-md-3 modulo" id="salud">
                                    <label class="container">
                                        Servicios <span class="tipo">
                                            Salud
                                        </span>
                                        <input name="ambitoRadio" class="opcion" type="radio" value="02">
                                        <span class="checkmark c2"></span>
                                    </label>
                                </div>
                                <div class="col-md-3 modulo activo" id="economica">
                                    <label class="container">
                                        Servicios<span class="tipo">
                                            Comerciales
                                        </span>
                                        <input class="opcion" type="radio" name="ambitoRadio" value="03">
                                        <span class="checkmark c3"></span>
                                    </label>
                                </div>
                                <div class="col-md-3 modulo" id="procesods67">
                                    <label class="container">
                                        Proceso<span class="tipo">DS67</span>
                                        <input class="opcion" type="radio" name="ambitoRadio" value="04">
                                        <span class="checkmark c4"></span>
                                    </label>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="mod_2  visible-lg visible-md">
                            <div class="opcion1 box col-md-3 disabled">
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios01" id="op1_1" type="radio" value="01">
                                        Asesoría Prevencionista
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios01" id="op1_2" type="radio" value="02">
                                        Asesoría de Especialista
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios01" id="op1_3" type="radio" value="03">
                                        Cursos de capacitación
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios01" id="op1_5" type="radio" value="05">
                                        Campañas preventivas
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios01" id="op1_6" type="radio" value="06">
                                        Materiales y señaleticas
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios01" id="op1_4" type="radio" value="04">
                                        Otros
                                    </label>
                                </div>
                            </div>
                            <div class="opcion2 box col-md-3 disabled">
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios02" id="op2_1" type="radio" value="01">
                                        Información de paciente
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios02" id="op2_2" type="radio" value="02">
                                        Calidad de atención
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios02" id="op2_3" type="radio" value="03">
                                        Apelación de días perdidos
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios02" id="op2_5" type="radio" value="05">
                                        Apelación de calificación
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios02" id="op2_4" type="radio" value="04">
                                        Otros
                                    </label>
                                </div>
                            </div>
                            <div class="opcion3 box col-md-3">
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios03" id="op3_1" type="radio" value="01">
                                        Visita de ejecutivo/a
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios03" id="op3_2" type="radio" value="02">
                                        Información de subsidio
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios03" id="op3_3" type="radio" value="03">
                                        Actualización de datos
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios03" id="op3_5" type="radio" value="05">
                                        Certificados
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios03" id="op3_6" type="radio" value="06">
                                        Servicio SEL
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios03" id="op3_7" type="radio" value="07">
                                        Servicio Complementario
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        <input name="ambitoRadios03" id="op3_4" type="radio" value="04">
                                        Otros
                                    </label>
                                </div>
                            </div>
                            <div class="opcion4 box col-md-3 disabled">

                                <div class="radio">
                                    <label>
                                        <input type="radio" name="ambitoRadios04" id="op4_5" value="05">
                                        Información proceso DS67
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        <input type="radio" name="ambitoRadios04" id="op4_1" value="01">
                                        Solicitud de Simulación de Tasa
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="ambitoRadios04" id="op4_2" value="02">
                                        Solicitud de Rebaja de Tasa
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="ambitoRadios04" id="op4_3" value="03">
                                        Apelación a Resolución
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="ambitoRadios04" id="op4_4" value="04">
                                        Otros
                                    </label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="linea"></div>
                </div>

                <!-- vista mobil -->
                <div class="movil_0 visible-sm visible-xs">
                    <h3>
                        <span class="paso">1</span>Selecciona la solicitud que deseas
                        gestionar
                    </h3>
                    <div class="rectangulomovil text-center">
                        <input class="opcion" type="radio" name="requerimiento" value="01">
                        <strong>Requerimiento </strong> <img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/tiporequerimieno01.svg" width="54px" alt="">
                    </div>
                    <div class="rectangulomovil text-center">
                        <input name="requerimiento" class="opcion" type="radio" value="02">
                        <strong>Reclamo </strong><img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/tiporequerimieno02.svg" width="54px" alt="">
                    </div>
                    <h3>
                        <span class="paso">2</span>Elige el tipo de requerimiento o
                        reclamo, y luego selecciona un item del listado
                    </h3>
                </div>

                <div class="panel-group visible-sm visible-xs" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingOne" role="tab">
                            <h4 class="panel-title">
                                <a role="button" aria-expanded="false" aria-controls="collapseOne" href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
                                    <img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/rec1.svg" alt=""> <strong>
                                        Servicios Preventivos
                                    </strong>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="opcion1 disabled">
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios01" id="op1_1_m" type="radio" value="01">
                                            Asesoría Prevencionista
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios01" id="op1_2_m" type="radio" value="02">
                                            Asesoría de Especialista
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios01" id="op1_3_m" type="radio" value="03">
                                            Cursos de capacitación
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios01" id="op1_5_m" type="radio" value="05">
                                            Campañas preventivas
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios01" id="op1_6_m" type="radio" value="06">
                                            Materiales y señaleticas
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios01" id="op1_4_m" type="radio" value="04">
                                            Otros
                                        </label>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingTwo" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" aria-expanded="false" aria-controls="collapseTwo" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
                                    <img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/rec2.svg" alt=""> <strong>
                                        Servicios Salud
                                    </strong>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="opcion2 disabled">
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios02" id="op2_1_m" type="radio" value="01">
                                            Información de paciente
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios02" id="op2_2_m" type="radio" value="02">
                                            Calidad de atención
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios02" id="op2_3_m" type="radio" value="03">
                                            Apelación de días perdidos
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios02" id="op2_5_m" type="radio" value="05">
                                            Apelación de calificación
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios02" id="op2_4_m" type="radio" value="04">
                                            Otros
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingThree" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" aria-expanded="false" aria-controls="collapseThree" href="#collapseThree" data-toggle="collapse" data-parent="#accordion">
                                    <img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/rec3.svg" alt=""> <strong>
                                        Servicios Comerciales
                                    </strong>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="opcion3">
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios03" id="op3_1_m" type="radio" value="01">
                                            Visita de ejecutivo/a
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios03" id="op3_2_m" type="radio" value="02">
                                            Información de subsidio
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios03" id="op3_3_m" type="radio" value="03">
                                            Actualización de datos
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios03" id="op3_5_m" type="radio" value="05">
                                            Certificados
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios03" id="op3_6_m" type="radio" value="06">
                                            Servicio SEL
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios03" id="op3_7_m" type="radio" value="07">
                                            Servicio Complementario
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input name="ambitoRadios03" id="op3_4_m" type="radio" value="04">
                                            Otros
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingFour" role="tab">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" aria-expanded="false" aria-controls="collapseFour" href="#collapseFour" data-toggle="collapse" data-parent="#accordion">
                                    <img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/rec4.svg" alt=""> <strong>
                                        Proceso DS67
                                    </strong>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <div class="opcion4 disabled">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="ambitoRadios04" id="op4_5_m" value="05">
                                            Información proceso DS67
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="ambitoRadios04" id="op4_1_m" value="01">
                                            Solicitud de Simulación de Tasa
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="ambitoRadios04" id="op4_2_m" value="02">
                                            Solicitud de Rebaja de Tasa
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="ambitoRadios04" id="op4_3_m" value="03">
                                            Apelación a Resolución
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="ambitoRadios04" id="op4_4_m" value="04">
                                            Otros
                                        </label>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-default movil_btn_1 hidden" href="#">Siguiente</a>
                <!-- fin vista mobil primera parte-->

                <div class="movil_2">
                    <h3><span class="paso">3</span>Ingresa todos los datos</h3>
                    <div class="efecto">
                        <div class="formulario bv-form" id="formularioprincipal" novalidate="novalidate">
                            <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                            <div class="capa"></div>
                            <div class="int paso2">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group has-feedback has-success">
                                            <label for="rut_empresa">Rut Empresa</label>
                                            <input type="text" class="form-control-rut" id="rut_empresa" name="rut_empresa" onkeyup="mayuscula(this);" data-bv-field="rut_empresa"><i class="form-control-feedback glyphicon glyphicon-ok" data-bv-icon-for="rut_empresa" style=""></i>
                                            <label id="mensajeerrorrut"></label>
                                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="rut_empresa" data-bv-result="VALID" style="display: none;">Por favor ingrese un valor</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group has-feedback">
                                            <label for="nombre_compl">Nombre Completo</label>
                                            <input type="text" class="form-control" id="nombre_compl" name="nombre_compl" data-bv-field="nombre_compl"><i class="form-control-feedback" data-bv-icon-for="nombre_compl" style="display: none;"></i>
                                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="nombre_compl" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información</small>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label for="phone">Teléfono móvil</label>
                                            <input type="text" class="form-control" id="phone" name="phone" data-bv-field="phone"><i class="form-control-feedback" data-bv-icon-for="phone" style="display: none;"></i>
                                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="phone" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group has-feedback">
                                            <label for="email">Correo electrónico</label><!--Se solicita cambiar de "Email" a "Correo electrónico" - Tarea Jira 141-->
                                            <input type="text" class="form-control" id="email" name="email" data-bv-field="email"><i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i>
                                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información</small><small class="help-block" data-bv-validator="regexp" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">El correo electrónico ingresado no es válido</small>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label for="cargo">Cargo</label>
                                            <select class="form-control" id="cargo" name="cargo" data-bv-field="cargo"></select><i class="form-control-feedback" data-bv-icon-for="cargo" style="display: none;"></i>
                                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="cargo" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información</small>
                                        </div>
                                    </div>
                                    <label class="checkbox-inline container flotante">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1">
                                        Deseo que la respuesta al requerimiento se envíe a otro
                                        contacto<span class="checkmark2"></span>
                                    </label>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="linea"></div>
                    </div>
                    <div class="movil_4" id="otrocontacto">
                        <h3><span class="paso">4</span>Datos para respuesta</h3>
                        <div class="efecto3">
                            <div class="formulario nuevos_datos bv-form" id="formulariootrocontacto" novalidate="novalidate">
                                <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                <div class="capa"></div>
                                <div class="col-md-4">
                                    <div class="form-group has-feedback">
                                        <label for="nombre_compl">Nombre Completo</label>
                                        <input type="text" class="form-control" id="nombre_complotro" name="nombre_complotro" data-bv-field="nombre_complotro"><i class="form-control-feedback" data-bv-icon-for="nombre_complotro" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="nombre_complotro" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información</small>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="phone">Teléfono móvil</label>
                                        <input type="text" class="form-control bfh-phone" data-country="CL" data-format="+56(d) ddd-dddd" id="phoneotro" name="phoneotro" data-bv-field="phoneotro"><i class="form-control-feedback" data-bv-icon-for="phoneotro" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="phoneotro" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información</small><small class="help-block" data-bv-validator="stringLength" data-bv-for="phoneotro" data-bv-result="NOT_VALIDATED" style="display: none;">Debe completar la información</small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-feedback">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" id="emailotro" name="emailotro" data-bv-field="emailotro"><i class="form-control-feedback" data-bv-icon-for="emailotro" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="emailotro" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información</small><small class="help-block" data-bv-validator="regexp" data-bv-for="emailotro" data-bv-result="NOT_VALIDATED" style="display: none;">El correo no es valido</small>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="cargo">Cargo</label>
                                        <select class="form-control" id="cargootro" name="cargootro" data-bv-field="cargootro">
                                            <option value="">Seleccione cargo</option>
                                            <option value="0001">Trabajador</option>
                                            <option value="0002">Monitor en Prevención de Riesgo</option>
                                            <option value="0003">Supervisor</option>
                                            <option value="0004">Subgerente de Área</option>
                                            <option value="0005">Empleado Administrativo</option>
                                            <option value="0006">Jefe área</option>
                                            <option value="0007">Gerente área</option>
                                            <option value="0008">Gerente General</option>
                                            <option value="0009">Director</option>
                                            <option value="0010">Socio Empresa</option>
                                            <option value="0011">Prevencionista</option>
                                            <option value="0012">Dirigente</option>
                                            <option value="0013">Integrante CPHS</option>
                                            <option value="0014">Otro</option>
                                            <option value="0030">Comercial Autorizado</option>
                                            <option value="0040">Presidente Comité Paritario</option>
                                            <option value="0041">Secretario Comité Paritario</option>
                                            <option value="0042">Experto Empresa</option>
                                            <option value="0043">Encargado de Recursos Humanos</option>
                                            <option value="0044">Encargado de Área</option>
                                        </select><i class="form-control-feedback" data-bv-icon-for="cargootro" style="display: none;"></i>
                                        <small class="help-block" data-bv-validator="notEmpty" data-bv-for="cargootro" data-bv-result="NOT_VALIDATED" style="display: none;">Debes completar la información</small>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="linea"></div>

                        </div>
                    </div>
                </div>
                <div class="movil_3">
                    <h3>
                        <span class="paso" id="pasodetalle">4</span>Descripción de
                        requerimiento o reclamo
                    </h3>

                    <div class="efecto2">
                        <div class="formulario">
                            <div class="int">
                                <p></p>
                                <div class="row">
                                    <div class="col-md-5">
                                        <!-- fin la primara parte -->
                                        <div class="form-group">
                                            <textarea class="form-control" rows="10" id="detallerequerimiento" name="detallerequerimiento"></textarea>
                                            <h4>Ingresar mínimo 10 caracteres</h4> <!--Se solicita eliminar "de un total de 200" - Tarea Jira 141-->
                                            <!--de un total de <span class="char-count">200</span>-->
                                        </div>
                                        <div class="botones text-right visible-lg visible-md">
                                            <button class="btn btn-default">Cancelar</button>
                                            <button type="button" class="btn btn-default" id="enviarequerimiento">
                                                Enviar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="botones_m visible-sm visible-xs">
                        <a href="https://achsweb.lfi.cl/modulo-de-requerimiento" class="btn btn-default movil_btn_2">
                            Cancelar
                        </a> <a href="#" class="btn btn-default movil_btn_3" id="enviarequerimientomovil">
                            Enviar
                        </a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- comienza las gracias -->

        <div class="gracias  hidden">
            <div class="tabla">
                <div class="tabla-cell">
                    <h4><img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/ico_listo.svg" alt=""></h4>
                    <h2>¡Listo! </h2>
                    <p>
                        Gracias por ingresar tu requerimiento. <br>
                        Uno de nuestros ejecutivos se contactará contigo a la brevedad.
                    </p>
                    <a href="https://achsweb.lfi.cl/modulo-de-requerimiento" class="btn visible-lg visible-md">
                        Volver
                    </a>
                    <div class="botones_m visible-sm visible-xs">
                        <a href="https://achsweb.lfi.cl/modulo-de-requerimiento" class="btn btn-default movil_btn_1">
                            <span>
                                Volver
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="validacion3" class="text-center h100 hidden">
            <div class="table">
                <div class="table-cell text-center">
                    <div class="error_val">
                        <p><img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/ico_error.svg" alt=""></p>
                        <h2>¡Error!</h2>
                        <p class="">
                            No se encontraron registros del RUT ingresado, para más
                            información comunícate con tu ejecutivo comercial al 600 600 2247.
                        </p>
                        <a href="javascript:location.href='https://achsweb.lfi.cl/modulo-de-requerimiento'" class="btn btn-default movil_btn_1">
                            Salir
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="razonsocial" value="ADECCO RECURSOS HUMANOS SA">
    <input type="hidden" id="segmento" value="GCN">
    <input type="hidden" id="comuna" value="LAS CONDES">
</form>