﻿<div class="alerta amarillo">
    <img class="lazy" data-src="/ResourcePackages/AchsCorporativo/assets/dist/images/ic-alert.svg" alt="Icono alerta" />
       @Html.Raw(ViewBag.texto)
    <div class="cerrar"><em class="fas fa-times"></em></div>
</div>





