﻿<div class="item-actualizacion">
    <div class="contenido">
        <figure>
            <img src="@ViewBag.imagen" alt="@ViewBag.titulo" title="@ViewBag.titulo">
        </figure>
        <div class="texto">
            <h4>@ViewBag.titulo</h4>
            <p>@ViewBag.texto</p>
        </div>
    </div>
    <div class="acciones">
        <a class="twitter_link" title="@ViewBag.titulo" href="@ViewBag.document"><img src="/ResourcePackages/AchsCorporativo/assets/dist/images/icono-twitter.svg" alt=""> <span>Compartir</span></a>
        <a class="facebook_link" title="@ViewBag.titulo" href="@ViewBag.document"><img src="/ResourcePackages/AchsCorporativo/assets/dist/images/icono-facebook.svg" alt=""> <span>Compartir</span></a>
        <a href="@ViewBag.document" target="_blank" ><img src="/ResourcePackages/AchsCorporativo/assets/dist/images/icono-descargar.svg" alt=""> <span>Descargar</span></a>
    </div>
</div>