﻿<section class="c-titulo">
    <div class="wrap full-width d-block">
        <h1 class="titulo-verde">@ViewBag.titulo</h1>
        <div class="bajada-titulo">
            <h3>@ViewBag.bajada</h3>
        </div>
    </div>
</section>