<div class="caja-preguntas-b">
    <div class="btn-pregunta-b">
        <h4>
            &iquest;Qu&eacute; es el plan de prevenci&oacute;n?
            <div class="ico-flecha-p-b"></div>
        </h4>
        <div class="caja-respuesta-b">
            Es el instrumento que permite planificar los procesos de seguridad y salud en el trabajo que debes gestionar. El plan de prevenci&oacute;n que te entregamos en ACHS Gesti&oacute;n es una propuesta, basada en un diagn&oacute;stico, de los procesos
            fundamentales de SST que debe implementar una organizaci&oacute;n.
        </div>
    </div>
</div>