﻿<div class="box-gestion">
    <div class="titulo">
        <h5>@ViewBag.titulo</h5>
        <img src="@ViewBag.imagen" alt="@ViewBag.titulo" title="@ViewBag.titulo">
    </div>
    <p>@ViewBag.texto</p>
    <div class="text-right">
        <a href="@ViewBag.link"" class="btn btn-verde">Ver más</a>
    </div>
</div>