﻿@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.AccountActivation.AccountActivationViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">
<body class="body-bienvenida">
	  <center>
  <div class="seccion-manuales-marca col-md-6" style="background-color: transparent !important;">
    <div class="fichas-manuales">
    @if (Model.Activated)
    {
        <h3 role="alert" aria-live="assertive">@Html.Resource("AccountActivationSuccess")</h3>
        <div class="row">
        <a href="@Model.ProfilePageUrl" style="margin-left: 40px !important;">@Html.Resource("ProfilePageUrlTitle")</a>
    </div>
    }
    else if (Model.AttemptedActivation)
    {
        <h3 role="alert" aria-live="assertive">@Html.Resource("AccountActivationFail")</h3>
    }</div></div></center></body>
</div>