<section class="subhome-nosotros">
    <div class="wrap">
        <div class="sf_colsIn" data-sf-element="titulo" data-placeholder-label="titulo" ></div>
        <div class="row banner-nosotros">
            <div class="sf_colsIn col-lg-8" data-sf-element="banner" data-placeholder-label="banner">
                <figure>
                    <img class="lazy" data-src="images/img-nos.jpg" alt="">
                </figure>
            </div>
            <div class="sf_colsIn col-lg-4" >
                
            </div>
        </div>

    </div>
</section>