﻿<section class="video-achs">
    <div class="wrap">
        <div class="v-achs">
            <div class="w-video">
                <iframe width="560" height="315" src="@ViewBag.youtube " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>