@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services;

<div class="@Model.CssClass">
<body class="body-bienvenida">
	  <center>
  <div class="seccion-manuales-marca col-md-6" style="background-color: transparent !important;">
    <div class="fichas-manuales"style="margin-top:-100px !important;" >
    <h3>@Html.Resource("ForgotPasswordHeader")</h3>

    @if (Model.EmailSent)
    {

        <p id='@Html.UniqueId("ForgotPasswordRequestSentInfo")'>@Html.Resource("ForgotPasswordRequestSent") <i>@Html.Encode(Model.Email)</i></p>


        <p id='@Html.UniqueId("ForgotPasswordRequestSentUseLinkInfo")'>@Html.Resource("ForgotPasswordRequestSentUseLink")</p>

        var forgottenPasswordDescription = Html.UniqueId("ForgotPasswordRequestSentInfo") + " " + Html.UniqueId("ForgotPasswordRequestSentUseLinkInfo");

        <a href="@Model.LoginPageUrl" aria-describedby="@forgottenPasswordDescription"> <button type="button" class="btn btn-perfil" style="width: 100%;";)>@Html.Resource("ForgotPasswordBackToLogin")</button></a>
    }
    else
    {
        using (Html.BeginForm("SendPasswordResetEmail", "LoginForm"))
        {
            <p id='@Html.UniqueId("EnterLoginEmailAddressInfo")'>@Html.Resource("EnterLoginEmailAddress")</p>

            <div class="form-group col-md-8">
          
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control", aria_describedby = Html.UniqueId("EnterLoginEmailAddressInfo") })
            </div>

            <button type="submit" class="btn btn-perfil" @(SystemManager.IsDesignMode ? "disabled" : "")>@Html.Resource("ForgotPasswordSendButton")</button>
        }
    }
</div></div></center></body>
</div>
<script>
  var element = document.getElementById('titulo-inicio');
  element.classList.add("d-none");
   var element2  = document.getElementById('titulo-inicio2');
  element2.classList.add("d-none");

   var element3  = document.getElementById('titulo-inicio3');
  element3.classList.add("d-none");

</script>
<style>

.seccion-manuales-marca .fichas-manuales {
	display: block !important;
}
</style>