@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ResetPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services;

<div class="@Model.CssClass">
<body class="body-bienvenida">
	  <center>
	    <div class="seccion-manuales-marca col-md-4" style="background-color: transparent !important;">

    <div class="fichas-manuales" >
    

    @if (Model.ResetComplete)
    {
        <h3>@Html.Resource("ResetPasswordSuccess")</h3>
        
         <a href="@Model.LoginPageUrl" > <button type="button" class="btn btn-perfil" )>@Html.Resource("ResetPasswordBackToLogin")</button></a>
    }
    else if (Model.RequiresQuestionAndAnswer && string.IsNullOrEmpty(Model.ResetPasswordQuestion))
    {    
        <div class="alert alert-danger" role="alert" aria-live="assertive">@Html.Resource("CannotResetPasswordError")</div>
    }
    else
    {
        <form action="@(Url.Action("ResetPassword", "LoginForm"))" method="post" autocomplete="off" class="col-md-12">
            @Model.Error
            @Html.HiddenFor(u => u.SecurityToken)

            @if (Model.RequiresQuestionAndAnswer)
            {
                <div class="form-group">
                    @Html.LabelFor(u => u.ResetPasswordAnswer, Model.ResetPasswordQuestion)
                    @Html.TextBoxFor(u => u.ResetPasswordAnswer, new { @class = "form-control" })
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(u => u.NewPassword, Html.Resource("ResetPasswordNewPassword"))
                @Html.TextBoxFor(u => u.NewPassword, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(u => u.RepeatNewPassword, Html.Resource("ResetPasswordRepeatNewPassword"))
                @Html.TextBoxFor(u => u.RepeatNewPassword, new { @class = "form-control" })
            </div>

            <input class="btn btn-perfil" type="submit" value='Restablecer' @(SystemManager.IsDesignMode ? "disabled" : "") />      
        </form>
    }
</div></div></center></body>
</div>
<script>
  var element = document.getElementById('titulo-inicio');
  element.classList.add("d-none");
   var element2  = document.getElementById('titulo-inicio2');
  element2.classList.add("d-none");
   var element3  = document.getElementById('titulo-inicio3');
  element3.classList.remove("d-none");
</script>
<style>

.seccion-manuales-marca .fichas-manuales {
    display: block !important;
}
</style>