<div class="item">
    <div class="box-covid">
        <h4>@ViewBag.titulo</h4>
        <a href="@ViewBag.document" target="_blank" class="btn btn-verde"><img src="/ResourcePackages/AchsCorporativo/assets/dist/images/ic-descargar.png" alt="Descargar"> <span>Descargar</span></a>
    </div>
</div>