<section class="res-busqueda-ht">
  <div class="wrap-ht">
    <div class="sf_colsIn content-res" data-sf-element="Contendor Noticias" data-placeholder-label="Contendor Noticias">

    </div>
    <aside class="sf_colsIn sidebar" data-sf-element="Contenedor más noticias" data-placeholder-label="Contenedor más noticias">
      
    </aside>
  </div>
</section>