<section class="ht-banner">
  <div class="sf_colsIn franja-info" data-sf-element="Franja Info Home" data-placeholder-label="Franja Info Home">
  	
  </div>

  <div class="carrusel blanco sf_colsIn" data-sf-element="Slide Home" data-placeholder-label="Slide Home">
  		
  </div>
</section>