<section class="this-cita">
	<div class="wrap-ht">
    <div class="row">
        <div class="sf_colsIn col-md-8" data-sf-element="Texto Lateral a Cita" data-placeholder-label="Texto Lateral a Cita">
        
        </div>
      <div class="col-md-4">
        <blockquote>
          <img src="/images/librariesprovider4/default-album/comilla.png?sfvrsn=e44cfb20_2" alt="">
          <div class="sf_colsIn this" data-sf-element="Cita" data-placeholder-label="Cita">
            
          </div>
        </blockquote>
      </div>
      <div class="sf_colsIn col-md-12" data-sf-element="Fila Extra" data-placeholder-label="Fila Extra">
      </div>
    </div>
	</div>
</section>  