<section class="preguntas-comite-ht">
    <div class="wrap-ht">
        <div class="js-accordion ac-default accordion verde" id="accordion">
            <div class="sf_colsIn this-acordeon" data-sf-element="Contenedor acordeones" data-placeholder-label="Contenedor acordeones">
                
            </div>
        </div>
    </div>
</section>