<section class="ht-somos bg-gris">
  <div class="wrap-ht">
    <div class="sf_colsIn" data-sf-element="Parrafo" data-placeholder-label="Parrafo">
    
    </div>

    <div class="oferta-servicios">
      <div class="sf_colsIn item-ser" data-sf-element="Lista 1" data-placeholder-label="Lista 1">
        
      </div>
      <div class="sf_colsIn item-ser" data-sf-element="Lista 2" data-placeholder-label="Lista 2">
        
      </div>

      <div class="sf_colsIn item-ser" data-sf-element="Lista 3" data-placeholder-label="Lista 3">
        
      </div>

    </div>
  </div>
</section>


