<section class="ht-cifras">
  <img src="/images/librariesprovider4/default-album/bg-cifras.jpg?sfvrsn=dadc9387_2" class="bg-cifras" alt="">
  <div class="c-cifras">
    <div class="item-cifra wow fadeInUp2">
      <div class="sf_colsIn numero" data-sf-element="Cifra 1" data-placeholder-label="Cifra 1">
        
      </div>
    </div>
    <div class="item-cifra wow fadeInUp2" data-wow-delay=".2s">
      <div class="sf_colsIn numero" data-sf-element="Cifra 2" data-placeholder-label="Cifra 2">
        
      </div>
    </div>
    <div class="item-cifra wow fadeInUp2" data-wow-delay=".4s">
      <div class="sf_colsIn numero" data-sf-element="Cifra 3" data-placeholder-label="Cifra 3">
        
      </div>
    </div>
    <div class="item-cifra wow fadeInUp2" data-wow-delay=".6s">
      <div class="sf_colsIn numero" data-sf-element="Cifra 4" data-placeholder-label="Cifra 4">
        
      </div>
    </div>
  </div>
</section>