<section class="detalle-servicios-ht">
  <div class="wrap-ht">
    <div class="row">
      <div class="col-md-6">
        <figure class="sf_colsIn" data-sf-element="Contenedor Imagen" data-placeholder-label="Contenedor Imagen">
          
        </figure>
      </div>
      <div class="sf_colsIn col-md-6" data-sf-element="Contenedor Texto" data-placeholder-label="Contenedor Texto">
        
      </div>

      <div class="sf_colsIn col-md-12" data-sf-element="Fila Extra" data-placeholder-label="Fila Extra">
        
      </div>

    </div>
  </div>
</section>