﻿<div class="col-lg-12 pregunta-freq">
    <div class="caja-titulo-preg">
        <h3>@ViewBag.titulo</h3><div class="flecha-preg"></div>
    </div>
    <div class="caja-respuesta">
        @Html.Raw(ViewBag.contenido)
    </div>
</div>