﻿<div class="caja-preguntas-b">
    <div class="btn-pregunta-b">
        <h4>
            @ViewBag.titulo
            <div class="ico-flecha-p-b"></div>
        </h4>
        <div class="caja-respuesta-b">
            @Html.Raw(ViewBag.contenido)
        </div>
    </div>
</div>