﻿<html>
    <head>
        <meta charset="utf-8" />
        <title>Documento sin título</title>
        <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>    
                            <tr>
                                <td>
                               <!--     <p style="color: #414141;text-align: center; font-family: 'Open Sans'; font-size: 12px;line-height: 16px;  margin: 15px 10px;">Si no lees correctamente este mensaje, <a href="#">haz clic aquí.</a></p>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                 <!--   <tr>	
                    <td>				
                        <table width="600" border="0" align="center" cellpadding="0">
                            <tr>
                                <td style="width: 550px; background-color: transparent;">
                                    <td style="height: 10px;">&nbsp;</td>
                                </td>
        
                                <td  style="font-family: Arial; color:#455A64; font-size: 18px; font-weight: bold; width: 50px;">
                                    <p style="width: 100%;text-align: left;">
                                        <a href="#">
                                            <img src="https://coronavirus.achs.cl/ResourcePackages/AchsMarketing/assets/dist/images/img_logo_achs_3.jpg" style="display: block;border:0 none;">
                                        </a>
                                    </p>
                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                    
                </tr>-->
                <tr>
                     	             <td>
                        <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #fff; text-align: middle;">
                            <tbody>
                                <tr>
                                    <td><img style="100%" alt="" src="https://coronavirus.achs.cl/ResourcePackages/AchsMarketing/assets/dist/images/fondo_correo.jpg"/></td>
                                </tr>
                            </tbody>
                        </table>
                    
                    </td>
                </tr>
                
               
                <tr>
                    <td>
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #fff; text-align: middle;">
                        <tbody>
                            <tr>
                                <td style="height: 10px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="text-align: left; font-family: 'Catamaran'; font-size: 14px;line-height: 16px;  margin: 15px 10px;color:#455A64;">Hola,</p>

                                    <p style="text-align: left; font-family: 'Catamaran'; font-size: 14px;line-height: 16px;  margin: 15px 10px;color:#455A64;">Se ha solicitado un nuevo acceso a la página web de Marketing de la Asociación Chilena de Seguridad:</p>
                                    
                                    <p style="text-align: left; font-family: 'Catamaran'; font-size: 14px;line-height: 16px;  margin: 15px 10px;color:#455A64;"><strong>Nombre: {{nombre}}</strong></p>
                                    <p style="text-align: left; font-family: 'Catamaran'; font-size: 14px;line-height: 16px;  margin: 15px 10px;color:#455A64;"><strong>Mail: {{correo}}</strong> </p>
                                    
                                    <p style="text-align: left; font-family: 'Catamaran'; font-size: 14px;line-height: 16px;  margin: 15px 10px;color:#455A64;">Para asignar un perfil, o rechazar la solicitud,<a style="color:#455A64;" href="http://marketingachs.lfi.cl/usuarios/listado"> <strong>favor accede aquí.</strong></a></p>
 

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td style="height: 20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #1B753B;">
                        <tbody>    
                            <tr>
                                <td>
                                <p style="font-family: 'Catamaran'; color: #fff; text-align: right; margin: 15px 20px; font-size: 14px;"><a target="_blank" style="color:#fff;" href="https://www.achs.cl/portal/Paginas/Home.aspx"><strong>www.achs.cl</strong></a>
                                </p>
                               
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td>
                    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #dadada">
                        <tbody>    
                            <tr>
                                <td>
                                    <p style="color: #414141;text-align: center; font-family: 'Catamaran'; font-size: 14px;line-height: 16px;  margin: 15px 10px;">Las Mutualidades de Empleadores son fiscalizadas por la Superintendencia de Seguridad Social <a style="color:#455A64;" href="https://www.suseso.cl/601/w3-channel.html">(www.suseso.cl).</a></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr>
                    <td style="height: 40px;">&nbsp;</td>
                </tr>
                <tr>
                    <td>
            <!-- <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #dadada">
                        <tbody>    
                            <tr>
                                <td>
                                    <p style="color: #555;text-align: center; font-family: 'Open Sans'; font-size: 14px;line-height: 16px;  margin: 15px 10px;"><a style="color: blue; margin-right: 10px;" href="#"><strong>Desuscribirse</strong></a> <a style="color: blue;" href="#"> <strong>Enviar a un amigo</strong> </a></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>-->
                    </td>
                </tr>
                <tr>
                    <td style="height: 40px;">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>