﻿@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using SitefinityWebApp.Helper;

<!-- HTML -->
<!DOCTYPE html>
<html @Html.RenderLangAttribute()>

<head>
    <title>ACHS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" type="text/css" href="/ResourcePackages/AchsMarketing/assets/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"
    async>
<link rel="stylesheet" type="text/css" href="/ResourcePackages/AchsMarketing/assets/dist/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/ResourcePackages/AchsMarketing/assets/dist/css/style2.css">
   <link rel="stylesheet" href="/ResourcePackages/AchsMarketing/assets/dist/datatable/css/dataTables.bootstrap4.min.css">
   
    @Html.Section("head")


</head>

<body>
	    @ASP.PartialExtensions.Partial(Html, "_BodyFirst_MK")
            @Html.Section("top")


<header>
<div class="row" style="margin-right: auto !important;">
	<div class="col-md-4">
   <a class="navbar-brand" href="#">
            <img src="/ResourcePackages/AchsMarketing/assets/dist/images/img_logo_achs.svg" width="140" height="140" alt="">
        </a>
</div>
                <div class="col-4">
                    <h1 class="titulo-inicio" style="font-family: 'Catamaran-Bold';font-size: 50px;text-align: center;
    color: #FFFFFF;filter: drop-shadow(2px 4px 6px #666)">Listado de usuarios</h1>
                </div>
            </div>
</header>

    
    <!--MAIN CONTENT-->
    @Html.SfPlaceHolder("ContentplaceholderMain")
    <!-- /MAIN CONTENT-->
    
    <!-- footer -->
<footer>
  

</footer>



  @if (!SystemManager.IsDesignMode)
    {

        <script src="/ResourcePackages/AchsMarketing/assets/dist/datatable/js/jquery-3.3.1.js"></script>
        <script src="/ResourcePackages/AchsMarketing/assets/dist/datatable/js/jquery.dataTables.min.js"></script>
        <script src="/ResourcePackages/AchsMarketing/assets/dist/datatable/js/dataTables.bootstrap4.min.js"></script>

   
}
<script type="text/javascript">
    $(document).ready(function() {
    $('#tablaConBuscador').DataTable();
} );
</script>
</div>
</body>

</html>
