﻿@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using SitefinityWebApp.Helper;

<!-- HTML -->
<!DOCTYPE html>
<html @Html.RenderLangAttribute()>

<head>
    <title>ACHS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    @ASP.PartialExtensions.Partial(Html, "_Head_MK")
    @Html.Section("head")


</head>

<body>
	    @ASP.PartialExtensions.Partial(Html, "_BodyFirst_MK")
            @Html.Section("top")


<header>

 

  	   <nav class="navbar navbar-expand-lg navbar-light menu-perfil">
        <a class="navbar-brand" href="#">
            <img src="/ResourcePackages/AchsMarketing/assets/dist/images/img_logo_achs.svg" width="100" height="100" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">


        	 	 @Html.SfPlaceHolder("ContentplaceholderHeaderMenu")
         
            <div>
            	 @Html.SfPlaceHolder("ContentplaceholderLogin")
              <!--  <button type="button" class="btn-perfil">
                    <img class="mr-3" src="images/img_perfil.svg" alt="">
                    Mi perfil
                </button>-->
            </div>
        </div>

    </nav>


</header>

    
    <!--MAIN CONTENT-->
    @Html.SfPlaceHolder("ContentplaceholderMain")
    <!-- /MAIN CONTENT-->
    
    <!-- footer -->
<footer>
  

</footer>


    @if (SystemManager.IsDesignMode)
    {
        @ASP.PartialExtensions.Partial(Html, "_StyleDesignMode")
    }
    <!-- footer -->

    @if (!SystemManager.IsDesignMode)
    {

        @ASP.PartialExtensions.Partial(Html, "_JQueryFront")
    }

    <!-- JS -->
    @ASP.PartialExtensions.Partial(Html, "_JsFooter_MK")

    @Html.SfPlaceHolder("ContentplaceholderJsFooter")

    @Html.Section("js")

    <!-- /JS -->

    @Html.Section("bottom")
    @if (SystemManager.IsDesignMode)
    {
        Html.Script(ScriptRef.JQuery, "head");
        Html.Script(ScriptRef.JQueryUI, "head");
    }

</div>
</body>

</html>
