﻿@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using SitefinityWebApp.Helper;

<!-- HTML -->
<!DOCTYPE html>
<html @Html.RenderLangAttribute()>

<head>
    <title>ACHS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" type="text/css" href="/ResourcePackages/AchsMarketing/assets/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"
    async>
<link rel="stylesheet" type="text/css" href="/ResourcePackages/AchsMarketing/assets/dist/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/ResourcePackages/AchsMarketing/assets/dist/css/style2.css">

   
    @Html.Section("head")


</head>

<body style="background-image: url(/ResourcePackages/AchsMarketing/assets/dist/images/HomeFondo.jpg);background-size: cover;">
	    @ASP.PartialExtensions.Partial(Html, "_BodyFirst_MK")
            @Html.Section("top")


<header>
<div class="row" style="margin-right: auto !important;">
	<div class="col-md-4">
   <a class="navbar-brand" href="#">
            <img src="/ResourcePackages/AchsMarketing/assets/dist/images/img_logo_achs.svg" width="140" height="140" alt="">
        </a>
</div>
                <div class="col-4">
                    <h1 class="titulo-inicio" style="font-family: 'Catamaran-Bold';font-size: 50px;text-align: center;
    color: #FFFFFF;filter: drop-shadow(2px 4px 6px #666)">Registro</h1>
                </div>
            </div>
</header>

    
    <!--MAIN CONTENT-->
    @Html.SfPlaceHolder("ContentplaceholderMain")
    <!-- /MAIN CONTENT-->
    
    <!-- footer -->
<footer>
  

</footer>


    @if (SystemManager.IsDesignMode)
    {
        @ASP.PartialExtensions.Partial(Html, "_StyleDesignMode")
        @ASP.PartialExtensions.Partial(Html, "_StyleDesignModeMK")
    }
    <!-- footer -->

    @if (!SystemManager.IsDesignMode)
    {

        @ASP.PartialExtensions.Partial(Html, "_JQueryFront")
    }

    <!-- JS -->
    @ASP.PartialExtensions.Partial(Html, "_JsFooter_MK")

    @Html.SfPlaceHolder("ContentplaceholderJsFooter")

    @Html.Section("js")

    <!-- /JS -->

    @Html.Section("bottom")
    @if (SystemManager.IsDesignMode)
    {
        Html.Script(ScriptRef.JQuery, "head");
        Html.Script(ScriptRef.JQueryUI, "head");
    }

</div>
</body>

</html>
