﻿<div class="col-lg-3 col-md-6">
    <a href="@ViewBag.link" class="box-beneficio">
        <figure>
            <img class="lazy" data-src="@ViewBag.imagen" alt="@ViewBag.titulo">
        </figure>
        <p>@ViewBag.titulo</p>
    </a>
</div>