<body class="body-bienvenida">

    <section id="section-bienvenida" class="section-bienvenida">
        <div>
            <a target="_blank" href="https://www.achs.cl/portal/Paginas/Home.aspx">
                <!-- <img class="logo_img" src="images/img_logo_achs.svg" alt="logo de la ACHS">-->
            </a>
        </div>
        <div class="container">



            <div class="row">
                <div class="col-12">
                    <form id="iniciar-sesion" class="iniciar-sesion">
                        <div>
                            <h2>Formulario Registro </h2>
                        </div>
                        <div class="campo">
                            <label for="">Nombre</label>
                            <input type="text" name="" id="nombre">
                        </div>
                        <div class="campo">
                            <label for="">Apellido</label>
                            <input type="text" name="" id="apellido">
                        </div>
                        <div class="campo">
                            <label for="">Email</label>
                            <input type="text" name="" id="email">
                        </div>
                        <div class="campo">
                            <label for="">Contraseņa</label>
                            <input type="password" name="" id="password">
                        </div>
                        <div class="text-center my-4">
                            <button type="button" id="btnRegistro" class="btn btn-perfil">Registrarse</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>


</body>

