﻿@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using SitefinityWebApp.Helper;

<!-- HTML -->
<!DOCTYPE html>
<html @Html.RenderLangAttribute()>

<head>
    <title>ACHS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    @ASP.PartialExtensions.Partial(Html, "_Head_MA")
    @Html.Section("head")


</head>

<body>
	    @ASP.PartialExtensions.Partial(Html, "_BodyFirst_MA")
    @Html.Section("top")

<div class="wrapper">


<header class="header-ma">
  <div class="head-top">
  	 @Html.SfPlaceHolder("ContentplaceholderHeader")
   

    
  </div>
  <nav>
    <div class="wrap-ma">
      @Html.SfPlaceHolder("ContentplaceholderMenu")
     
    </div>
  </nav>
</header>


    @if (SystemManager.IsDesignMode)
    {
        @ASP.PartialExtensions.Partial(Html, "_StyleDesignMode")
    }
    <!-- header -->


    @ASP.PartialExtensions.Partial(Html, "_HeaderCorporativo_MA")
    <!-- /header -->
    
    <!--MAIN CONTENT-->
    @Html.SfPlaceHolder("ContentplaceholderMain")
    <!-- /MAIN CONTENT-->
    <!-- footer -->
<footer class="footer-ma">
  <div class="wrap-ma">
    <a href="#" class="logo">
      <img src="/images/librariesprovider5/default-album/logo2.svg" alt="">
    </a>
    <div class="menu-footer">
      <div class="container foot">
        <div class="row">
          <div class="col-sm-12 col-md-5">@Html.SfPlaceHolder("ContentplaceholderFooter1")</div>
          <div class="col-sm-12 col-md-4">@Html.SfPlaceHolder("ContentplaceholderFooter2")</div>
          <div class="col-sm-12 col-md-3">@Html.SfPlaceHolder("ContentplaceholderFooter3")</div>
    	
        </div>
      </div>
    </div>
  </div>
</footer>


    <!-- footer -->

    @if (!SystemManager.IsDesignMode)
    {

        @ASP.PartialExtensions.Partial(Html, "_JQueryFront")
    }

    <!-- JS -->
    @ASP.PartialExtensions.Partial(Html, "_JsFooter_MA")

    @Html.SfPlaceHolder("ContentplaceholderJsFooter")

    @Html.Section("js")

    <!-- /JS -->

    @Html.Section("bottom")
    @if (SystemManager.IsDesignMode)
    {
        Html.Script(ScriptRef.JQuery, "head");
        Html.Script(ScriptRef.JQueryUI, "head");
    }

</div>
</body>

</html>
