﻿    <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">


        <input type=hidden name="oid" value="00D6g000001XITR">
        <input type="hidden" name="retURL" value="https://wa-qa-formulario-achs-sf.azurewebsites.net/test.aspx">
        <!--Formulario Empresa 1 de 2-->
        <section id="formulario-empresa-uno" class="formulario-independiente">
            <div class="container">

                <div class="row row-movil">
                    <div class="col-lg-3 col-uno">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Únete a la ACHS</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><strong>Empresa</strong></li>
                            </ol>
                        </nav>
                    </div>

                    <div class="col-lg-6 padding-movil col-dos">
                        <h2>Únete y déjanos tus datos</h2>
                        <!-- <p class="font-size-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>-->
                    </div>

                    <div class="col-lg-3 text-right text-center-movil col-tres">
                        <input id="btn-volver-empresa-uno" class="btn-volver" type="button" value="< Volver">
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <div class="formulario-requerimientos">

                            <div class="row mb-30">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <h3>Datos de Contacto</h3>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <h4>Paso 1 de 2</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group" style="display:none;">
                                    <label><span>*</span>RUT Contacto <br></label>
                                    <input name="RUT_del_contacto__c" id="rut_contacto_afiliate" type="text" maxlength="15">

                                </div>
                                <div class="col-12 margin-item">
                                    <label>NOMBRE</label>
                                    <input name="first_name" id="fist_name" autocomplete="off" class="disablecopypaste" pattern=".{3,}" title="El campo de texto debe tener un mínimo de 3 caracteres." onkeypress="return soloLetras(event);" maxlength="25" type="text">
                                </div>

                                <div class="col-12 margin-item">
                                    <label>APELLIDO</label>
                                    <input name="last_name" id="last_name" autocomplete="off" class="disablecopypaste" pattern=".{3,}" title="El campo de texto debe tener un mínimo de 3 caracteres." onkeypress="return soloLetras(event);" maxlength="25" type="text">
                                </div>

                                <div class="col-12 margin-item">
                                    <label>TELÉFONO</label>
                                    <input name="phone" id="phone" maxlength="9" autocomplete="off" pattern=".{9,}" title="El campo de texto debe contener 9 caracteres." class="solo-numero disablecopypaste" placeholder="Ejemplo: 948435748" onkeypress="return SoloNumeros(event);" type="text">
                                    <span id="fonoOk"></span>
                                </div>

                                <div class="col-12 margin-item">
                                    <label>Correo electrónico*</label>
                                    <input name="email" type="text" id="txtemail" class="disablecopypaste" pattern=".{8,}" title="El campo de texto debe tener un mínimo de 8 caracteres." placeholder="Ejemplo: correo@gmail.com" maxlength="30"><span id="emailOK"></span>
                                </div>

                                <div class="col-12 margin-item">
                                    <label>Confirmación Correo*</label>
                                    <input name="00N6g00000T5dbN" type="text" id="txtConfirmarCorreo" maxlength="30" class="form-control" placeholder="Ejemplo: correo@gmail.com">
                                </div>
                            </div>
                            <div class="form-group" style="display:none;">
                                <label><span></span>Segundo Nombre </label>
                                <input name="middle_name" id="middle_name" autocomplete="off" class="disablecopypaste" pattern=".{3,}" title="El campo de texto debe tener un mínimo de 3 caracteres." onkeypress="return soloLetras(event);" maxlength="25" type="text">

                            </div>

                            <div class="form-group" style="display:none;">
                                <label><span></span>Apellido Materno </label>
                                <input name="suffix" id="suffix" pattern=".{3,}" autocomplete="off" class="disablecopypaste" title="El campo de texto debe tener un mínimo de 3 caracteres." onkeypress="return soloLetras(event);" maxlength="25" type="text">

                            </div>

                            <div class="row justify-content-center">
                                <div class="col-6 text-center">
                                    <input id="btn-siguiente-empresa" class="btn-siguiente" type="button"
                                           value="Siguiente">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--Fin Formulario Empresa 1 de 2-->
        <!--Formulario Empresa 2 de 2-->
        <section id="formulario-empresa-dos" class="formulario-independiente d-none">
            <div class="container">

                <div class="row row-movil">
                    <div class="col-lg-3 col-uno">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Únete a la ACHS</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><strong>Empresa</strong></li>
                            </ol>
                        </nav>
                    </div>

                    <div class="col-lg-6 padding-movil col-dos">
                        <h2>Únete y déjanos tus datos</h2>

                    </div>

                    <div class="col-lg-3 text-right text-center-movil col-tres">
                        <input id="btn-volver-empresa-dos" class="btn-volver" type="button" value="< Volver">
                    </div>
                </div>

                <div class="row row-formulario">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <div class="formulario-requerimientos">

                            <div class="row mb-30">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <h3 id="divDatos">Datos de la Empresa</h3>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <h4 id="PasoMovil">Paso 2 de 2</h4>
                                </div>
                            </div>


                            <div class="row">
                                <div id="divMovil" class="d-none">
                                    <div class="col-12 margin-item">
                                        <label>NOMBRE</label>
                                        <input id="fist_nameMovil" autocomplete="off" pattern=".{3,}" title="El campo de texto debe tener un mínimo de 3 caracteres." onkeypress="return soloLetras(event);" maxlength="25" type="text">
                                    </div>

                                    <div class="col-12 margin-item">
                                        <label>APELLIDO</label>
                                        <input id="last_nameMovil" autocomplete="off" pattern=".{3,}" title="El campo de texto debe tener un mínimo de 3 caracteres." onkeypress="return soloLetras(event);" maxlength="25" type="text">
                                    </div>

                                    <div class="col-12 margin-item">
                                        <label>TELÉFONO</label>
                                        <input id="phoneMovil" maxlength="9" autocomplete="off" pattern=".{9,}" title="El campo de texto debe contener 9 caracteres." placeholder="Ejemplo: 948435748" onkeypress="return SoloNumeros(event);" type="text">
                                        <span id="fonoOkMovil"></span>
                                    </div>

                                    <div class="col-12 margin-item">
                                        <label>Correo electrónico*</label>
                                        <input type="text" id="txtemailMovil" pattern=".{8,}" title="El campo de texto debe tener un mínimo de 8 caracteres." placeholder="Ejemplo: correo@gmail.com" maxlength="30"><span id="emailOKMovil"></span>
                                    </div>

                                    <div class="col-12 margin-item">
                                        <label>Confirmación Correo*</label>
                                        <input type="text" id="txtConfirmarCorreoMovil" maxlength="30" placeholder="Ejemplo: correo@gmail.com">
                                    </div>
                                </div>

                                <div class="col-12 margin-item">
                                    <label>Nombre de la empresa</label>
                                    <input name="company" id="company" class="disablecopypaste" autocomplete="off" pattern=".{3,}" title="El campo de texto debe tener un mínimo de 3 caracteres." onkeypress="return soloLetras(event);" type="text">

                                </div>

                                <div class="col-12 margin-item">
                                    <label>Rut empresa</label>
                                    <input name="00N6g00000T5dbZ" id="rut_empresa2" type="text" maxlength="15"><span id="rutOk"></span>
                                </div>

                                <div class="row" style="margin-right: 0;margin-left: 0;">
                                    <div class="col-sm-6 col-md-6 col-lg-6 margin-item" style="display: flex;flex-direction: column;margin: 0px 0px 30px 0px;">
                                        <label>REGIÓN*</label>
                                        <select name="00N6g00000T5dbc" id="region">
                                            <option value="">--Seleccione Región--</option>
                                            <option value="01">I - Tarapacá</option>
                                            <option value="02">II - Antofagasta</option>
                                            <option value="03">III - Atacama</option>
                                            <option value="04">IV - Coquimbo</option>
                                            <option value="05">V - Valparaiso</option>
                                            <option value="06">VI - Libertador Bernardo O'higgins</option>
                                            <option value="07">VII - Maule</option>
                                            <option value="08">VIII - BioBío</option>
                                            <option value="09">IX - Araucanía</option>
                                            <option value="10">X - De los Lagos</option>
                                            <option value="11">XI -  Aysén del General Carlos Ibáñez del Campo</option>
                                            <option value="12">XII - Magallanes y de la Antártica</option>
                                            <option value="13">RM - Metropolitana</option>
                                            <option value="14">XIV - De los Ríos</option>
                                            <option value="15">XV - Arica y Parinacota</option>
                                            <option value="16">XVI - Ñuble</option>

                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 margin-item" style="display: flex;flex-direction: column;margin: 0px 0px 30px 0px;">
                                        <label>COMUNA*</label>
                                        <select name="00N6g00000T5eVf" title="Comuna" id="comuna">
                                            <option value="">--Seleccione Comuna--</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 margin-item">
                                    <label>Cantidad de trabajadores</label>
                                    <input name="employees" class="disablecopypaste" autocomplete="off" type="text" id="employees" maxlength="5" onkeypress="return SoloNumeros(event);">
                                </div>

                                <div class="col-12 margin-item">
                                    <label>Mutualidad*</label>
                                    <select name="00N6g00000T5dbU" title="Mutualidad" id="organismo">
                                        <option value="">--Seleccione Mutualidad--</option>
                                        <option value="1">Nueva Empresa</option>
                                        <option value="2">ISL</option>
                                        <option value="3">Mutual de Seguridad (C.CH.C)</option>
                                        <option value="4">IST</option>
                                        <option value="5">Lo desconozco (Otra)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="display:none;">
                                <label><span>*</span>Función Contacto</label>
                                <%--00N2g000000oFy6 --%>
                                <select name="00N6g00000T5dbT" class="form-control" id="cboxFuncion" title="Función contacto">
                                    <option value="">--Seleccione cargo del trabajador--</option>
                                    <option value="0001">Trabajador</option>

                                </select>
                            </div>
                            <div class="form-group" style="display:none;">
                                <label><span>*</span>Tipo de Entidad</label>


                                <label>Empresa</label>
                                <div class="checkEmpresa">
                                    <input id="checkEmpresa" value="0" type="checkbox">
                                    <label for="checkEmpresa"></label>
                                </div>


                                <label><span></span>Trabajador Independiente</label>
                                <div class="checkTrabajadorInd">
                                    <input name="00N2g000000oFyH" id="checkTrabajadorInd" value="1" type="checkbox">
                                    <label for="checkTrabajadorInd"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label hidden="hidden"><span>*</span>Origen del prospecto</label>
                                <select name="lead_source" hidden="hidden">
                                    <option value="Afiliate a la ACHS">Afiliate a la ACHS</option>
                                </select>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-6 text-center">
                                    <%--      <input type="hidden" name="debug" value=1>

                                    <input type="hidden" name="debugEmail" value="juangalazf@gmail.com" />--%>
                                    <input id="btnEnviar" class="btn-siguiente" type="submit" value="Hablemos">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
    </form>
    <!--Fin Formulario Empresa 2 de 2-->

   

