﻿<div class="box-ventaja">
    <img src="@ViewBag.imagen" alt="@ViewBag.titulo" title="@ViewBag.titulo">
    <p>@ViewBag.titulo</p>
    <a  href="@ViewBag.document" target="_blank"  class="btn btn-verde"><img src="/ResourcePackages/AchsCorporativo/assets/dist/images/ic-descargar.png" alt=""> <span>Descargar</span></a>
</div>