﻿@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

<!DOCTYPE html>
<html @Html.RenderLangAttribute()>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" async>
  <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet" async>

  <link rel="stylesheet" href="/ResourcePackages/Coronavirus/assets/dist/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/ResourcePackages/Coronavirus/assets/dist/css/animate.css" type="text/css">
  <link rel="stylesheet" href="/ResourcePackages/Coronavirus/assets/dist/css/tiny-slider.css" type="text/css">
  <link rel="stylesheet" href="/ResourcePackages/Coronavirus/assets/dist/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="/ResourcePackages/Coronavirus/assets/dist/css/estilos.css" type="text/css">
  <link rel="stylesheet" href="/ResourcePackages/Coronavirus/assets/dist/css/menu.css" type="text/css">
  <link rel="stylesheet" href="/ResourcePackages/Coronavirus/assets/dist/css/owl.theme.green.css" type="text/css">
  <link rel="stylesheet" href="/ResourcePackages/Coronavirus/assets/dist/css/estilo_home.css" type="text/css">
  
  <link rel="stylesheet" href="/ResourcePackages/Coronavirus/assets/dist/css/owl.carousel.css" type="text/css">
  <link rel="shortcut icon" href="/ResourcePackages/Coronavirus/assets/dist/images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="/ResourcePackages/Coronavirus/assets/dist/css/coronavirus.css" type="text/css">

  <title>ACHS</title>

    @Html.Section("head")
    @Html.Section("css")
    
</head>

    <body data-spy="scroll" data-target="#list-example" data-offset="300" class="scrollspy-example">
    @Html.Section("top")

    @if (!SystemManager.IsDesignMode)
    {}

    @if (SystemManager.IsDesignMode)
    {
      <style>
        .fixed-top.valoracion {
            display: none;
        }
      </style>
      
    }

  <div class="wrapper">
     <!-- valoracion -->
    <!--menu-->
    <header>
      <div id="top_barra">
        <div class="container">
          <div class="top_contacto">
            <ul class="redes col-md-2">
              <li><a href="https://www.facebook.com/PrevencionACHS" target="_blank"><img src="/ResourcePackages/Coronavirus/assets/dist/images/ico_fb.svg"
                    alt="" /></a></li>
              <li><a href="https://www.linkedin.com/company/achs/" target="_blank"><img src="/ResourcePackages/Coronavirus/assets/dist/images/ico_lk.svg"
                    alt="" /></a></li>
              <li><a href="https://twitter.com/PrevencionACHS" target="_blank"><img src="/ResourcePackages/Coronavirus/assets/dist/images/ico_tw.svg"
                    alt="" /></a>
              </li>
              <li><a href="https://www.youtube.com/prevencionACHS" target="_blank"><img src="/ResourcePackages/Coronavirus/assets/dist/images/ico_yt.svg"
                    alt="" /></a></li>
            </ul>
            <ul class="contacto col-md-7">
              <li><a href="tel:6006002247" class="cont1">call center <strong>600 600 22 47</strong></a></li>
              <li><a href="tel:1404" class="cont2">rescate <strong>1404</strong></a></li>
              <li><a href="https://www.achs.cl/portal/Paginas/nuevohorariosedes.aspx" class="cont3"><strong>sedes</strong></a></li>

              <li><a href="#" class="cont4"><strong>Preguntas frecuentes</strong></a></li>
            </ul>

            <div class="buscadorGGddd col-md-3"></div>

          </div>
        </div>
      </div>

    </header>


    <nav class="navbar navbar-expand-lg navbar-light bg-celeste">


      <a class="navbar-brand" href="https://www.achs.cl/portal/Paginas/Home.aspx">
        <img src="/ResourcePackages/Coronavirus/assets/dist/images/logo.svg" width="83" height="83" class="d-inline-block align-top" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="nosotros-n" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              NOSOTROS
            </a>
            <div class="dropdown-menu" aria-labelledby="nosotros-n">
              <a class="dropdown-item"
                href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/Marco-regulatorio-ley-16744.aspx">¿Qué es la
                ACHS?</a>
              <a class="dropdown-item"
                href="https://www.achs.cl/portal/trabajadores/Paginas/Conoce-sobre-la-ley.aspx">Todo sobre la ley</a>
              <a class="dropdown-item"
                href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/ACHS_TRANSPARENTE.aspx">Transparencia</a>
              <a class="dropdown-item"
                href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/Aspiraci%C3%B3n-y-Valores.aspx">Nuestro
                desafio</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="trabajadores-n" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              TRABAJADORES
            </a>
            <div class="dropdown-menu" aria-labelledby="trabajadores-n">
              <a class="dropdown-item"
                href="https://www.achs.cl/portal/Empresas/productos-y-servicios/Paginas/Repositorio-de-campanhas-ACHS.aspx">Aprende
                a prevenir</a>
              <a class="dropdown-item"
                href="https://www.achs.cl/portal/Capacitacion/Paginas/Inicio.aspx">Capacitación</a>
              <a class="dropdown-item"
                href="https://www.achs.cl/portal/trabajadores/Paginas/En-caso-de-accidente.aspx">En caso de
                accidentes</a>
              <a class="dropdown-item" href="https://www.mundoachs.cl/mundo/Paginas/Inicio.aspx">Club de beneficios</a>
              <a class="dropdown-item"
                href="https://www.achs.cl/portal/vigilanciadelasalud-sel/Paginas/Inicio.aspx">Vigilancia de la salud
                -SEL</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="empresas-n" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              EMPRESAS
            </a>
            <div class="dropdown-menu" aria-labelledby="empresas-n">
              <a class="dropdown-item" href="https://www.achs.cl/portal/achsgestion/Paginas/Inicio.aspx">ACHS
                Gestión</a>
              <a class="dropdown-item"
                href="https://www.achs.cl/portal/Empresas/Paginas/Por-qu%C3%A9-elegirnos.aspx">Por qué elegirnos</a>
              <a class="dropdown-item" href="https://www.achs.cl/portal/Capacitacion/Paginas/Inicio.aspx">Capacita a tus
                Trabajadores</a>
              <a class="dropdown-item" href="https://www.achs.cl/portal/Empresas/fichas/Paginas/fichas.aspx">Fichas</a>
              <a class="dropdown-item" href="https://www.achs.cl/portal/Empresas/Paginas/Minsal.aspx">Protocolos
                MINSAL-ACHS</a>
              <a class="dropdown-item"
                href="https://www.achs.cl/portal/Empresas/productos-y-servicios/Paginas/repositorio-de-campanhas-ACHS.aspx">Campañas
                Preventivas</a>
              <a class="dropdown-item"
                href="https://www.achs.cl/portal/Empresas/canales-digitales/Paginas/canales-digitales.aspx">Canales
                Digitales</a>
              <a class="dropdown-item" href="https://www.achs.cl/portal/Paginas/lgf.aspx">Estrategia LGF</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://www.achs.cl/portal/Comites-Paritarios/Paginas/inicio.aspx">COMITÉS PARITARIOS</a>
          </li>

          <li class="nav-item dropdown ingresar-li">
            <a class="nav-link dropdown-toggle" href="https://www.achs.cl/portal/Comites-Paritarios/Paginas/inicio.aspx"
              id="ingresar-n" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              INGRESA
            </a>
            <div class="dropdown-menu ingresar-div" aria-labelledby="ingresar-n">
              <a class="dropdown-item" href="https://www.achs.cl/portal/Paginas/achs_virtual_trabajador.aspx">
                <span class="trabajador-ico">a</span>
                Trabajador</a>
              <a class="dropdown-item" href="https://www.achs.cl/portal/Paginas/Achs_Virtual_Empresa.aspx">
                <span class="empresa-ico">b</span>
                Empresa</a>
            </div>
          </li>

        </ul>
      </div>
    </nav>

    <!-- FIN HEADER LFI -->

    <div id="gestion">
       <div class="cuerpo">
     <!--INICIO MAIN CONTENT-->
        @Html.SfPlaceHolder("ContentplaceholderMain")
     <!--FIN MAIN CONTENT-->
      </div>

    </div>
    <!--gestion-->​

  </div>
  <!--fin todo-->

  <footer>
    <section class="seccion-tres">
      <div class="container">
        <div class="row row-inf">

          <div class="col-lg-3">
            <p><b>Información Corporativo</b></p>
            <ul>
              <li><a href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/Marco-regulatorio-Ley-16744.aspx">¿Qué es
                  la ACHS?</a></li>
              <li><a href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/Estados-financieros.aspx">Información
                  financiera</a></li>
              <li><a
                  href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/Directorio-y-Administracion.aspx">Gobierno
                  corporativo</a></li>
              <li><a
                  href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/politica-de-equidad-inclusion-y-diversidad.aspx">Política
                  de Equidad Inclusió y Diversidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3">
            <p><b>Actualidad</b></p>
            <ul>
              <li><a href="https://www.achs.cl/portal/centro-de-noticias/Paginas/Centro-de-noticias.aspx">Noticias</a>
              </li>
              <li><a href="https://www.achs.cl/portal/ACHS-Corporativo/achs-en-la-prensa/Paginas/Default.aspx">ACHS en
                  la prensa</a></li>
              <li><a href="https://www.achs.cl/portal/ACHS-Corporativo/MediosACHS/Paginas/default.aspx">Medios ACHS</a>
              </li>
              <li><a href="https://www.achs.cl/portal/Empresas/canales-digitales/Paginas/canales-digitales.aspx">Canales
                  digitales</a></li>
            </ul>
          </div>

          <div class="col-lg-3">
            <p><b>Links de interés</b></p>
            <ul>
              <li><a href="https://www.achs.cl/portal/ACHS-Corporativo/Paginas/Proveedores.aspx">Proveedores</a></li>
              <li><a href="https://www.achs.cl/portal/Paginas/canal-de-denuncia-achs.aspx">Canal de Denuncias</a></li>
              <li><a href="https://www.achs.cl/portal/Paginas/nuevohorariosedes.aspx">Sedes</a></li>
              <li><a href="https://www.achs.cl/portal/trabajaconnosotros/Paginas/Inicio.aspx">Trabaja con Nosotros</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3">
            <p><b>Nuestros Sitios</b></p>
            <ul>
              <li><a href="https://www.hospitaldeltrabajador.cl/ht/Paginas/Home.aspx">Hospital del trabajador</a></li>
              <li><a href="http://www.esachs.cl/">ESACHS</a></li>
              <li><a href="https://www.mundoachs.cl/mundo/Paginas/Inicio.aspx">Mundo ACHS</a></li>
              <li><a href="https://www.achs.cl/portal/fucyt/Paginas/que-es-fucyt.aspx">Proyectos de investigación e
                  innovación</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="">
      <div class="container">
        <div class="row row-r-sociales">
          <div class="col-12">
            <div class="div-r-sociales">
              <p>Nuestras redes sociales</p>
              <div>
                <a href="https://www.facebook.com/PrevencionACHS"><img style="margin-left: 15px;"
                    src="/ResourcePackages/Coronavirus/assets/dist/images/facebook.svg" alt=""></a>
                <a href="https://www.linkedin.com/company/achs/"><img style="margin-left: 15px;"
                    src="/ResourcePackages/Coronavirus/assets/dist/images/linkedin.svg" alt=""></a>
                <a href="https://twitter.com/PrevencionACHS"><img style="margin-left: 15px;" src="/ResourcePackages/Coronavirus/assets/dist/images/twitter.svg"
                    alt=""></a>
                <a href="https://www.youtube.com/user/prevencionACHS"><img style="margin-left: 15px;"
                    src="/ResourcePackages/Coronavirus/assets/dist/images/youtube.svg" alt=""></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row row-final">
          <div class="col-lg-4">
            <div class="f-1">
              <p style="margin-bottom: 0px;">Asociación Chilena de Seguridad</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="f-1">
              <img style="margin-right: 5px;" src="/ResourcePackages/Coronavirus/assets/dist/images/globo.svg" alt="">
              <p style="margin-bottom: 0px;"><b>Casa Central</b>: Ramón Carnicer 163, Providencia,
                Santiago.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="f-1">
              <img style="margin-right: 5px;" src="/ResourcePackages/Coronavirus/assets/dist/images/telf.svg" alt="">
              <p style="margin-bottom: 0px;">
                Call Center <b>600 600 22 47</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>

  @* Inline editing scripts and helpers. They should be available only when inline editing is possible. *@
    @Html.Section("inline-editing")
    @*@if (Html.ShouldRenderInlineEditing())
    {
        @Html.Script(ScriptRef.MicrosoftAjax, "inline-editing", true)
        @Html.Script(ScriptRef.MicrosoftAjaxCore, "inline-editing", true)
        @Html.Script(ScriptRef.JQuery, "inline-editing", true)

        @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.jquery.ba-outside-events.min.js"), "inline-editing", true)
        @Html.Script(ScriptRef.KendoAll, "inline-editing", true)
        @Html.Script(ScriptRef.KendoTimezones, "inline-editing", true)
        @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.RequireJS.require.min.js"), "inline-editing", true)
        @Html.InlineEditingManager(false)
    }*@
  
  @if (SystemManager.IsDesignMode)
    {

    Html.Script(ScriptRef.JQuery, "head");
    Html.Script(ScriptRef.JQueryUI, "head");

   }

  @if (!SystemManager.IsDesignMode)
    {
        
        <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/jquery-3.4.0.min.js" defer></script>
        <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/jquery-3.4.1.min.js" defer></script>
  
    }
  @Html.Section("bottom")
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/jquery-migrate.min.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/masonry.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/classie.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/modernizr.custom.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/uisearch.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/imgLiquid.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/owl.carousel.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/moment-with-locales.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/jquery-ui.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/spboxMenufuncional.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/tiny-slider.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/accordion.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/wow.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/funciones-widget.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/bootstrap.min.js" defer></script>
  <script type="text/javascript" src="/ResourcePackages/Coronavirus/assets/dist/js/coronavirus.js" defer></script>
   @Html.Section("JS")
  
    
</body>
</html>
