﻿@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using SitefinityWebApp.Helper;

<!-- HTML -->
<!DOCTYPE html>
<html @Html.RenderLangAttribute()>

<head>
    <title>ACHS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    @ASP.PartialExtensions.Partial(Html, "_Head_HT")
    @Html.Section("head")

</head>

<body>

<div class="wrapper">
    @ASP.PartialExtensions.Partial(Html, "_BodyFirst_HT")
    @Html.Section("top")

    @if (SystemManager.IsDesignMode)
    {
        @ASP.PartialExtensions.Partial(Html, "_StyleDesignMode_HT")
    }
    <!-- header -->

    <header class="ht-header">
  <div class="head-mobile">
    <div class="item">
      <img src="/images/librariesprovider4/default-album/ic1.svg?sfvrsn=223f7080_2" alt="">
      <p>Rescate 1404</p>
    </div>
    <a href="/reserva-tu-hora/" class="reserva-hora">
      Reserva tu Hora
    </a>
  </div>
  <div class="wrap-ht">
    <a href="/" class="logo">
      <img src="/images/librariesprovider4/default-album/logo-5.png?sfvrsn=2771892e_2" alt="" class="logo-normal">
      <img src="/images/librariesprovider4/default-album/logo-dark.svg?sfvrsn=925a902_2" class="logo-dark" alt="">    </a>
    <div class="head-right">
      <div class="item">
        <img src="/images/librariesprovider4/default-album/ic1.svg?sfvrsn=223f7080_2" alt="">
        <p>Rescate <b>1404</b></p>
      </div>
      <div class="item">
        <img src="/images/librariesprovider4/default-album/ic2.svg?sfvrsn=dcdd66e4_2" alt="">
        <p>Mesa Central <b>2 2685 3333</b></p>
      </div>
      <div class="item">
        <img src="/images/librariesprovider4/default-album/ic3.svg?sfvrsn=e7f4ff57_2" alt="">
        <p>Agenda tu Hora <b>2 2515 7777</b></p>
      </div>
      <div class="lupa">
        <img src="/images/librariesprovider4/default-album/ic-lupa.svg?sfvrsn=2917c6f9_2" alt="">
      </div>
      <div class="btn-menu-ht close">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="buscador-ht">
    <div class="wrap-ht">
      <img id="lupa_ht" src="/images/librariesprovider4/default-album/ic-lupa.svg?sfvrsn=2917c6f9_2" alt="">
      <input type="text" placeholder="Ingresa tu búsqueda" id="buscador_ht">
      <div class="cerrar-buscador-ht">
        <i class="fas fa-times"></i>
      </div>
    </div>
  </div>

  <nav>
      <!--MENU Desk-->
      @Html.SfPlaceHolder("ContentplaceholderMenuDesk")
      <!-- /MENU Desk-->
  </nav>  

  <div class="menu-mobile-ht">
  <!--MENU MOBILE-->
  @Html.SfPlaceHolder("ContentplaceholderMenuMobile")
  <!-- /MENU MOBILE-->
  </div>

</header>
    @ASP.PartialExtensions.Partial(Html, "_HeaderCorporativo_HT")
    <!-- /header -->
    
    <!--MAIN CONTENT-->
    @Html.SfPlaceHolder("ContentplaceholderMain")
    <!-- /MAIN CONTENT-->


<!-- footer -->
<footer class="ht-footer">
  <div class="footer-top">
    <div class="wrap-ht">
      <div class="item-menu">
        <!--FOOTER  1-->
        @Html.SfPlaceHolder("ContentplaceholderFooter1")
        <!-- /FOOTER 1-->       
      </div>
      <div class="item-menu">      
        <!--FOOTER 2-->
        @Html.SfPlaceHolder("ContentplaceholderFooter2")
        <!-- /FOOTER 2-->
      </div>
      <div class="item-menu">
        <!--FOOTER 3-->
        @Html.SfPlaceHolder("ContentplaceholderFooter3")
        <!-- /FOOTER 3-->
      </div>
      <div class="item-menu">
        <!--FOOTER 4-->
        @Html.SfPlaceHolder("ContentplaceholderFooter4")
        <!-- /FOOTER 4-->
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="wrap-ht">
      <div class="datos">
        <!--FOOTER 5-->
        @Html.SfPlaceHolder("ContentplaceholderFooter5")
        <!-- /FOOTER 5-->
      </div>
    </div>
  </div>
  <div class="footer-logos">
    <div class="wrap-ht">
      <div class="w-items">
        <!--FOOTER 6-->
        @Html.SfPlaceHolder("ContentplaceholderFooter6")
        <!-- /FOOTER 6-->
      </div>
    </div>
  </div>
</footer>

  </div>

    <!-- footer -->
    @Html.Section("bottom")
    @if (!SystemManager.IsDesignMode)
    {

        @ASP.PartialExtensions.Partial(Html, "_JQueryFront")
    }

    <!-- JS -->
    @ASP.PartialExtensions.Partial(Html, "_JsFooter_HT")

    @Html.SfPlaceHolder("ContentplaceholderJsFooter")

    @Html.Section("js")

    <!-- /JS -->

  
    @if (SystemManager.IsDesignMode)
    {
        Html.Script(ScriptRef.JQuery, "head");
        Html.Script(ScriptRef.JQueryUI, "head");
    }



</body>

</html>
