<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
</head>

<body>
	<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
			<td width="600">
						<img src="https://coronavirus.achs.cl/images/default-source/mailings/cupon-achs/portada.jpg?sfvrsn=cae6385a_2">		
			</td>	
		</tr>
		<tr>
			<td>
				<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color: #fff; text-align: middle;">
					<tr>
						<td style="font-family: Arial; color:#7C8185; font-size: 22px; width: 410px; border-left: 1px solid #7C8185; border-top: 1px solid #7C8185;">
		
							<p style="background-color: #fff;text-align:center; font-size: 70px;color: #00B9E2; margin-bottom: 0px; line-height: 55px;letter-spacing: -0.5px; margin-top: 15px;">
								<strong>{{textoDescuento}}</strong>
							</p>
						</td>

						<td style="font-family: Arial; color:#7C8185; font-size: 20px; width: 190px; background-color: #00B9E2; vertical-align: middle;">
							<p style="margin-left: 20px; color: #fff; "><img style="margin-bottom: -10px; margin-right: 10px;" src="https://coronavirus.achs.cl/images/default-source/mailings/cupon-achs/cupon.png?sfvrsn=d739837d_2" alt=""> <span style=""><strong>CUPÓN</strong></span></p>
						</td>
					</tr>
					<tr>
						<td style="width: 410px;border-left: 1px solid #7C8185;" height="10">&nbsp;</td>
						<td style="width: 190px;background-color: #00B9E2;" height="10">&nbsp;</td>
					</tr>
					
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table width="600" border="0" align="center" cellpadding="0" cellspacing="0"
					style="background-color: #fff; text-align: middle; background-color: red;">
					
					
					<tr style="background-color: #959595;" width="100%">
						<td>
							<p style="text-align: center; color: #fff; margin-top: 8px; margin-bottom: 8px;"><strong>
									{{titleEmpresa}}</strong></p>
						</td>
		
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td height="20">&nbsp;</td>
		</tr>
		
		<tr>
			<td>
				<table width="540" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td style="font-family: Arial; color:#7C8185; font-size: 22px; width:420px;">
		
							<p><strong>Beneficio exclusivo para</strong>
								<span style="color: #00B9E2;"><strong>{{nombre_completo}},</strong></span> rut <span style="color: #00B9E2;"><strong>{{rut}}</strong></span> <br>
								<span style="font-size: 18px; color: #4A4A4A; font-weight: medium;">{{mensajeEmail}}</span>
							</p>
						</td>
		
						<td style="width:120px;">
							<p style="text-align: right;"><img src="{{imagenEmpresa}}" alt=""></p>
						</td>
		
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td>
				<table width="540" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td>
								<img src="https://coronavirus.achs.cl/images/default-source/mailings/cupon-achs/barra-2.png?sfvrsn=60d2adac_2" style="display: block;border:0 none;">
						</td>
					</tr>
					<tr>
						<td height="20">&nbsp;</td>
					</tr>
					<tr>
						<td style="font-family: Arial; color:#393939; font-size: 13px;">
						<p style="text-align: center;">
							<img src="https://coronavirus.achs.cl/images/default-source/mailings/cupon-achs/vivamos.png?sfvrsn=a8f880d0_2"
							style="display: block;border:0 none; margin: 0 auto;"></p>	
					    </td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td height="20">&nbsp;</td>
		</tr>

		<tr>
			<td>
				<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td style="font-family: Arial; color:#393939; font-size: 13px;">
							<br>
							<p style="text-align: center;">{{summary}}</p>
							<br>
						</td>
					</tr>
				</table>
			</td>
		</tr>

	</table>
</body>
</html>
