﻿        <!--obtener clave-->
<div class="" id="obtenerform">
    <div class="ia-head-form">
        <h1>Obtener Clave</h1>
        <h7>Ingresa tus datos para confirmar identidad</h7>
        <span class="help-block text-danger" id="mesajecaptura"></span>

    </div>
    <div class="container">

        <hr width="1000px">


    </div>

    <div class="ia-ia-form-body">
        <div class="form-group ia-form-group">
            <label for="rut">Rut</label><br>
            <span class="help-block text-danger  d-none" id="mesajerutnovalidopasodos">
                Ingresa un Rut válido
            </span>

            <input type="text" class="form-control" id="runobtener" placeholder="">
        </div>
        <div class="form-group ia-form-group">
            <label for="rut-serie">Número de serie</label>
            <input onmouseover="show()" onmouseout="hide()" type="text" class="form-control" id="rut-serie" rel="txtTooltip" title="txt" data-toggle="tooltip" data-placement="right">

            <div id="cv-example" class="box-cv">
                <img src="https://hospitaldeltrabajador.lfi.cl/ResourcePackages/HospitalDelTrabajador/assets/dist/imagenes_aplicatico/cedulas.png">
            </div>


        </div>
        <div class="form-group ia-form-group" id="fonoobtener">
            <label for="phone1">Teléfono Móvil</label>
            <input type="text" class="form-control ia-form-control" id="phone1" placeholder="">

        </div>
        <div class="form-group ia-form-group" id="emailobtener">
            <label for="mail">Correo Electrónico</label>
            <input type="mail" class="form-control" id="mail" placeholder="miemail@email.cl">

        </div>
        <button class="btn ia-btn-secondary volverlogin" type="button">
            Volver
        </button>
        <button class="btn ia-btn-primary" type="button" id="enviovalidacion">
            Siguiente
        </button>
        <button class="btn ia-btn-secondary" type="button" id="crearpass" style="display:none">
            Crear
        </button>



    </div>
</div>
<br><br>
<!--end obtener clave-->
<!--Validación de identidad-->
<div class="" style="display:none" id="validacionpreguntas">
    <div class="ia-head-form">
        <h1>Validación de identidad</h1>
        <h3>
            Responde estas preguntas para confirmar tu
            identidad
        </h3>
        <span class="help-block text-danger  d-none" id="mesajevalidacionpreguntas"></span>

    </div>
    <div class="container">

        <hr width="1000px">


    </div>

    <div class="ia-" id="displaypreguntas"></div>
    <br>
    <input type="hidden" id="tk">
    <button class="btn ia-btn-primary" type="button" id="enviarvalidacion">
        Validar
    </button>
</div>
<br><br>
<!--end validación clave-->