<div class="item-info">
    <figure>
        <img class="lazy" data-src="@ViewBag.imagen" alt="@ViewBag.titulo" title="@ViewBag.titulo">
    </figure>
    <div class="texto">
        <h4>@ViewBag.titulo</h4>
        @if (!String.IsNullOrEmpty(ViewBag.fecha))
        {
        <p>@ViewBag.fecha</p>
        }
        <a href="@ViewBag.document" target="_blank"><img class="lazy" data-src="/ResourcePackages/AchsCorporativo/assets/dist/images/ic-down.png" alt=""> Descargar</a>
    </div>
</div>