﻿
<div class="container">
    <div id="mandato">

        <div id="divbienvenida1" class="jumbotron">
            <div class=" text-center">
                <h2 class="tit">¡Bienvenido!</h2>
                <p class="bajada">En la ACHS estamos trabajando constantemente en mejorar nuestra experiencia digital. Es por esto que hemos creado ACHS Virtual, una nueva plataforma transaccional donde encontrarás todas las funcionalidades en un solo lugar de forma simple y eficiente.</p>
                <a class="btn btn-default" id="nextrutempresa">
                    <span>
                        <img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/ico_mas.svg" alt="" />
                    </span> Agregar administrador
                </a>
            </div>
        </div>
        <div id="divbienvenida" class="jumbotron hidden">
            <div id="empresa_ing">
                <h2>Empresa</h2>
                <p class="bajada">Ingresa el rut de tu empresa</p>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="rut_empresa">Rut</label>
                        <input type="text" class="form-control" id="rut_empresa" placeholder="">
                        <div id="divValidando" style="display:none;">
                            <img alt="" src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/loading-png-gif.gif" width="50" id="imagenLoading" />
                        </div>
                    </div>

                </div>
                <p class="mensajeusuario">Rut debe ser sin puntos y con dígito verificador.</p>
                <input id="bienvenida" type="button" value="Siguiente" class=" btn btn-default next-step hidden" style="padding:15px !important;" />

            </div>
        </div>

        <div class="jumbotron hidden" id="divempresa">
            <div class="row">
                <input type="hidden" id="bpmatrizfinanzas" />
                <input type="hidden" id="razonsocial" />
                <h2>Datos Empresa</h2>
                <div class="row">
                    <div class="form-group col-md-12 lineabottom">
                        <label for="nombreempresa" style="font-weight:700;color:#888B8D">Nombre Empresa</label>
                        <span id="nombreempresa" style="color:#888B8D">Lorem ipsum </span>
                        <br />
                        <label for="rutempresa" style="font-weight:700;color:#888B8D">RUT</label>
                        <span id="rutempresa" style="color:#888B8D">1111111-1</span>
                    </div>
                </div>
                <h2>Datos de contacto</h2>
                <p>Las personas del siguiente listado están autorizadas para realizar el nombramiento del Administrador ACHS Virtual. Selecciona tu nombre</p>
                <p class="mensajeerrorseleccionrepresentante hidden">Debe seleccior un representante.</p>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" id="listadocontacto">
                    <thead>
                        <tr>
                            <th colspan="2">Representante legal y/o Contacto comercial</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <p class="leyenda">Si tu nombre no figura en el listado anterior y eres representante legal de la empresa, por favor comunícate con tu ejecutivo comercial al  6006002247. Es exclusiva responsabilidad de la empresa mantener actualizada la información de contactos.</p>
                <input id="datos_contacto" type="button" value="Siguiente" class=" btn btn-default next-step" style="padding:15px !important;" />

            </div>
        </div>

        <div id="myModal" class="modal importante hidden" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" onclick="cerrar_modal()"
                                data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">

                                <img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/cerrar.svg" />
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/usuario.svg" alt="" style="margin-bottom: 20px;" />

                        <p>
                            <span class="span-yellow">
                                Validación de identidad
                            </span>
                        </p>
                        <p>
                            Para validar tu identidad te solicitaremos algunos datos personales
                            , y posteriormente realizaremos 4 breves preguntas. <b>
                                La Asociación
                                Chilena de Seguridad declara no tener conocimiento ni acceso a los
                                datos consultados. Estos son de carácter personal, confidencial
                                y provistos por un servicio externo.
                            </b>
                        </p>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>


        <div class="jumbotron hidden" id="divValidarDatos">
            <h2>Validación de identidad</h2>
            <p class="bajada">
                Para validar tu identidad te pediremos algunos datos personales y luego haremos 4 breves preguntas.
                La Asociación Chilena de Seguridad declara no tener conocimiento ni acceso a los datos consultados. Estos son de carácter personal, confidencial y provistos por un servicio externo.

            </p>
            <div class="col-md-12 lineabottom">&nbsp;</div>
            <br />
            <h2>Código de Validación</h2>
            <div id="mod_ingreso">
                <p class="bajada2">Ingresa tu número de documento o número de seríe para confirmar tu identidad.</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control col-md-10" id="rut_empleado" placeholder="" readonly>
                            <label class="mensajerun"></label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control col-md-10" id="serieequifax" placeholder="Ingresa tu número de documento o número de seríe">

                            <label class="control-label col-md-2"><a data-toggle="tooltip" title="<img src='/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/cedulas3.png'/>"><span class="glyphicon glyphicon-question-sign" style="font-size:30px;"></span></a></label>
                            <label class="mensajerunserie"></label>
                            <div id="divValidando2" class="hidden">
                                <img alt="" src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/loading-png-gif.gif" width="50" id="imagenLoading" />
                            </div>
                        </div>

                        <input id="elegirOtro" type="button" value="Elegir otro representante" class=" btn btn-default hidden" style="padding:15px !important;" />
                        <input id="equifax" type="button" value="Ingresar" class=" btn btn-default next-step" style="padding:15px !important;" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div id="validacion" class="modal importante hidden" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div id="validacion" class="text-center h100">

                        <div class="table">
                            <div class="table-cell text-center">
                                <div class="exito_val">
                                    <p>
                                        <img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/ico_exito.svg" alt="" />
                                    </p>
                                    <h2>Hemos validado tu identidad</h2>
                                    <p>Ingresa los datos del nuevo administrador, luego lee atentamente el Nombramiento.</p>
                                    <input id="llenarMandato" type="button" value="Siguiente" class=" btn btn-default" style="padding:15px !important;" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div id="validacion2" class="modal importante hidden" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div id="validacion2" class="text-center h100">
                        <div class="table">
                            <div class="table-cell text-center">
                                <div class="error_val">
                                    <p><img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/ico_error.svg" alt="" /></p>
                                    <h2>¡Error!</h2>
                                    <p class="menjaseequifaxvalidacion"></p>
                                    <a id="btnSalirValidacion2" class="btn btn-default">Salir</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div id="equifax2" class="jumbotron hidden">

            <h2>Validación de identidad</h2>
            <p>
                Para validar tu identidad te pediremos algunos datos personales y luego haremos 4 breves preguntas.
                La Asociación Chilena de Seguridad declara no tener conocimiento ni acceso a los datos consultados. Estos son de carácter personal, confidencial y provistos por un servicio externo.
            </p>
            <div id="listadopregunasequifax">
            </div>
            <br />
            <a id="btnEnviaRespuestas" class="btn btn-default validacioniden">Enviar respuestas</a>
            <div id="divValidando3" class="hidden">
                <img alt="" src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/loading-png-gif.gif" width="50" id="imagenLoading" />
            </div>
            <input type="hidden" id="tk" />
            <input type="hidden" id="SSegmento" />

        </div>
        <div class="jumbotron hidden" id="mandatoform">
            <h2 class="titulomandado">Mandato y administrador</h2>

            <div id="new_admin">
                <p class="bajada">Debes leer y aceptar las condiciones del mandato de Nombramiento de Administrador ACHS Virtual Entidades Empleadoras. </p>
                <a data-toggle="modal" data-target="#largeModal" href="#">Ver mandato</a>
                <div class="check">
                    <input type="checkbox" id="heleido">
                    He leído atentamente y acepto “Nombramiento de Administrador ACHS Virtual Entidades Empleadoras”.
                </div>
                <div id="formulariototalenvio">
                    <h2>2. Datos Nuevo Administrador </h2>
                    <h4>Ingresa los datos del usuario que deseas asignar como administrador y valida los tuyos.</h4>
                    <div class="row" id="formulariorepresentante">
                        <div class="form-group col-md-12">
                            <label for="rut">Nombre</label>
                            <input type="text" class="form-control " id="nombre_rol" name="nombre_rol" readonly>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="nombre">Apellido Paterno</label>
                            <input type="text" class="form-control " id="apellido_p_rol" name="apellido_p_rol" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Apellido Materno</label>
                            <input type="text" class="form-control " id="apellido_m_rol" name="apellido_m_rol" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">RUN</label>
                            <input type="text" class="form-control " id="rut_rol" name="rut_rol" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cargo_rol">Cargo</label>
                            <select id="cargo_rol" class="form-control " name="cargo_rol" readonly></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Email</label>
                            <input type="text" class="form-control " id="email_rol" name="email_rol" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Repite tú email</label>
                            <input type="text" class="form-control " id="email_r_rol" name="email_r_rol" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Télefono móvil</label>
                            <input type="text" class="form-control " id="movil_rol" name="movil_rol" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Télefono fijo</label>
                            <input type="text" class="form-control " id="fijo_rol" name="fijo_rol" readonly>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="nombre">Dirección empresa / calle</label>
                            <input type="text" class="form-control " id="direccion_rol" name="direccion_rol" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="nombre">Numeración</label>
                            <input type="text" class="form-control " id="numeracion_rol" name="numeracion_rol" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Región</label>
                            <select class="form-control " id="region_rol" name="region_rol" readonly></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Comuna</label>
                            <select class="form-control " id="comuna_rol" name="comuna_rol" readonly></select>
                        </div>

                    </div>
                    <h4 class="">Representante Legal</h4>

                    <div class="row " id="formulariorepresentante">
                        <div class="form-group col-md-12">
                            <label for="rut">Nombre</label>
                            <input type="text" class="form-control " id="nombre_representante">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="nombre">Apellido Paterno</label>
                            <input type="text" class="form-control " id="apellido_p_representante">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Apellido Materno</label>
                            <input type="text" class="form-control " id="apellido_m_representante">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">RUN</label>
                            <input type="text" class="form-control " id="rut_representante">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cargo_representante">Cargo</label>
                            <select id="cargo_representante" class="form-control " name="cargo_representante" readonly></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Email</label>
                            <input type="text" class="form-control " id="email_representante" name="email_representante" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Repite tú email</label>
                            <input type="text" class="form-control " id="email_r_representante" name="email_r_representante" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Télefono móvil</label>
                            <input type="text" class="form-control " id="movil_representante" name="movil_representante" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Télefono fijo</label>
                            <input type="text" class="form-control " id="fijo_representante" name="fijo_representante" readonly>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="nombre">Dirección empresa / calle</label>
                            <input type="text" class="form-control " id="direccion_representante" name="direccion_representante" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="nombre">Numeración</label>
                            <input type="text" class="form-control " id="numeracion_representante" name="numeracion_representante" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Región</label>
                            <select class="form-control " id="region_representante" name="region_representante" readonly></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Comuna</label>
                            <select class="form-control " id="comuna_representante" name="comuna_representante" readonly></select>
                        </div>

                    </div>
                    <a href="javascript:void(0)" class="btn btn-default btnenvioinformacion">Siguiente</a>
                </div>
            </div>
            <div id="finalizado" class="text-center hidden">
                <div class="table">
                    <div class="table-cell text-center">
                        <p>
                            <img src="/ResourcePackages/AchsCorporativo/assets/dist/images_aplicativo/ico_final.svg" alt="" />
                        </p>
                        <h2>¡Listo! Ya tienes un nuevo administrador</h2>
                        <p>El nuevo administrador recibirá una notificación confirmando su asignación</p>
                        <a href="javascript:void(0)" class="btn btn-default finalizarmandato">volver</a>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                        </div>
                        <div class="modal-body">
                            <h3>Nombramiento de Administración ACHS Virtual Entidades Empleadoras</h3>
                            <p>
                                La Sucursal Virtual ACHS tiene como finalidad ofrecer al usuario la información relativa a distintos aspectos que aborda la
                                Ley N° 16.744, normativa que se ocupa del Seguro Social contra Accidentes del Trabajo y Enfermedades Profesionales, por ejemplo, entre otros, los siniestros que registran los trabajadores, las prestaciones médicas y económicas que se brindan en cada caso, certificados, cotizaciones, herramientas para gestión de la prevención y servicios de evaluaciones laborales.
                            </p>
                            <p>
                                En el caso de las entidades empleadoras que coticen el mencionado Seguro con esta Mutualidad, previo a utilizar la Sucursal Virtual, cada una deberá nombrar a una persona cuya cuenta tendrá el rol de Administrador. Para esos efectos, se requerirá la información básica y de contacto de la persona.
                            </p>
                            <p>
                                Lo anterior es imprescindible para que la entidad empleadora pueda acceder a la funcionalidad que ofrece la Sucursal Virtual. En caso contrario, la entidad no podrá contar con todas las funciones que la plataforma dispone.
                            </p>
                            Para efectos de notificar a ACHS de lo requerido, la entidad empleadora deberá llenar y entregar el correspondiente formulario al momento de afiliarse.
                            <p>
                                El usuario con el rol de Administrador tendrá diversas atribuciones, por ejemplo, entre otros, podrá asignar y suprimir roles, asignar notificaciones y dar de alta a nuevos usuarios.
                            </p>
                            Es importante que la persona que ocupe el rol de Administrador mantenga la información de la empresa actualizada en lo que respecta a trabajadores que efectivamente se desempeñen en ella, por lo que será su responsabilidad suprimir los roles de personas que estén desvinculadas.
                            <p>
                                El nombramiento de un usuario Administrador se sujeta a la normativa comprendida en la letra f) del artículo 2° de la Ley N° 19.628, de 1999, relativa a cualquier información concerniente a personas naturales, identificadas o identificables. Asimismo, en relación al tratamiento de los datos personales, cada usuario se sujeta a los términos y condiciones de uso de esta Sucursal Virtual.
                            </p>
                            De igual manera, este documento tiene un fin informativo y hace exclusiva referencia al deber previo que tiene cada entidad empleadora en el uso de la Sucursal Virtual ACHS.
                            <p>
                                Finalmente, se hace presente que toda modificación de la persona en el rol de Administrador deberá ser debidamente comunicada en la oportunidad al ejecutivo de contacto ACHS. Es responsabilidad de la entidad empleadora respectiva mantener esta información actualizada.
                            </p>

                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


</div>



<style>
    th {
        font-weight: 700 !important;
        margin: 0 0 0 5px !important;
        font-size: 16px !important;
        color: #888b8d !important;
        background: #f2f2f2 !important;
        padding: 10px 20px !important;
        border-left: solid 1px #ccc !important;
        border-top: solid 1px #ccc !important;
        border-right: solid 1px #ccc !important;
        border-radius: 4px 4px 0 0 !important;
    }

    table {
        max-width: 550px !important;
        border-collapse: collapse !important;
        border-radius: 4px !important;
        border-style: hidden !important;
        box-shadow: 0 0 0 1px #ccc !important;
        margin: 0 0 30px !important;
        background-color: white !important;
    }

    th, td {
        padding: 7px !important;
    }
</style>
