﻿@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using SitefinityWebApp.Helper;

<!-- HTML -->
<!DOCTYPE html>
<html @Html.RenderLangAttribute()>

<head>
    <title>ACHS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">


    @ASP.PartialExtensions.Partial(Html, "_Head")
    @Html.Section("head")


</head>

<body>

    @ASP.PartialExtensions.Partial(Html, "_BodyFirst")
    @Html.Section("top")

    @if (SystemManager.IsDesignMode)
    {
        @ASP.PartialExtensions.Partial(Html, "_StyleDesignMode")
    }
    <!-- header -->
    <header>
        <div id="top_barra">
            <div class="wrap">
                <div class="top_contacto">
                 
                    <!--top_contacto-->
                    @Html.SfPlaceHolder("ContentplaceholderTopContacto")
                    <!-- /top_contacto-->
                </div>
            </div>
        </div>
        <div class="head">
            <div class="wrap">
                <div class="logo">
                  <a href="/">  <img class="lazy" data-src="/ResourcePackages/AchsCorporativo/assets/dist/images/logo.svg" alt="Logo"></a>
                </div>

                 <!--menu-->
                    @Html.SfPlaceHolder("ContentplaceholderMenu")
                    <!-- /menu-->
             
                <div class="btn-menu close" id="btn-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>

    @ASP.PartialExtensions.Partial(Html, "_HeaderCorporativo")
    <!-- /header -->
    
    <!--MAIN CONTENT-->
    @Html.SfPlaceHolder("ContentplaceholderMain")
    <!-- /MAIN CONTENT-->
    <!-- footer -->
    <footer>
        <div class="footer-top">
            <div class="wrap">
                <div class="item-menu">
                   <!--footer1-->
                    @Html.SfPlaceHolder("ContentplaceholderFooter1")
                    <!-- /footer1-->
                   
                </div>
                <div class="item-menu">
                 <!--footer2-->
                    @Html.SfPlaceHolder("ContentplaceholderFooter2")
                    <!-- /footer2-->
                    
                </div>
                <div class="item-menu">
                 <!--footer3-->
                    @Html.SfPlaceHolder("ContentplaceholderFooter3")
                    <!-- /footer3-->
                    
                </div>
                <div class="item-menu">
                 <!--footer4-->
                    @Html.SfPlaceHolder("ContentplaceholderFooter4")
                    <!-- /footer4-->
                    
                </div>
            </div>
            <div class="wrap">
             
                @Html.SfPlaceHolder("ContentplaceholderTextoFooter")
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                <div class="redes">
                  <!--rrss-->
                    @Html.SfPlaceHolder("ContentplaceholderRRSS")
                    <!-- /rss-->
                  
                </div>
                <div class="datos">
                <!--datos_footer-->
                    @Html.SfPlaceHolder("ContentplaceholderDatosFooter")
                    <!-- /datos_footer-->
                   
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->

    @if (!SystemManager.IsDesignMode)
    {

        @ASP.PartialExtensions.Partial(Html, "_JQueryFront")
    }

    <!-- JS -->
    @ASP.PartialExtensions.Partial(Html, "_JsFooter")

    @Html.SfPlaceHolder("ContentplaceholderJsFooter")

    @Html.Section("js")

    <!-- /JS -->

    @Html.Section("bottom")
    @if (SystemManager.IsDesignMode)
    {
        Html.Script(ScriptRef.JQuery, "head");
        Html.Script(ScriptRef.JQueryUI, "head");
    }
</body>

</html>
